[2020-09-12 04:17] mhankosky opened #7 "SSL Support for Plex Server"
My server is set up to only allow SSL (HTTPS) for plex connections.

I attempted to edit the lines of index.php to https, however i can not get it to connect. I get just a black screen.

I verified my Token manually and it works fine.

I also tested the Un-watched url and it works fine as well with https (https://LocalIP5:32400/library/sections/1/unwatched?X-Plex-Token=SSSSSSSSSSSSSSSSSSSSSSS)

[2020-09-12 04:29] mhankosky commented on #7
Just an update.  I was able to get it working by making the following changes:

1 - In GetData.php, Change all instances of HTTP:// to HTTPS://
2 - Instead of using the local IP, use the Plex Direct DNS name (For a valid SSL)   - To get this, Simply follow the same instructions for getting your Plex Token, but copy the URL It will look like **IP-IP-IP-IP.averylograndomstring.plex.dire**ct  By usin

[2020-10-18 16:17] jlvandusen opened #8 "Missing Posters"
Hi Matt
I have the playing now working and I have the titles for the whats new... from my plex server, its pulling the title and description.  However the images are missing.
I do have the display rotated at 90 - is that maybe what is the cause?

[2020-10-18 16:27] jlvandusen commented on #8
Found the issue, after running the following:
cd /var/www/html/
php -f getData.php -it returned the following error:

[code]
did a LS to the cache folder and only custom was present... mkdir posters and tried again
success!

[2020-10-18 16:27] #8 closed

[2020-10-18 16:27] jlvandusen commented on #8
did a LS to the cache folder and only custom was present... mkdir posters and tried again
success!

[2020-11-05 15:55] Bboy486 opened #9 "Posters Are No Populating on Idle"
I have the script (v2) working on an RPi4. If I start a video it shows the poster of that video. However, on idle I just get a blank screen.

Coming Soon I have the newest selected. I am not sure what else I would need to do.

Additionally, below is feedback from use over a few days.

1. Allow multiple Plex Client under Plex Client IP. I could be watching something on my phone while the kids watch

[2020-11-29 19:33] ZeroCoolGOS commented on #9
@Bboy486
When you say on idle you get a blank screen.  Are you talking about when you have paused the video?

How long until it goes blank?
Is it on one specific client?

[2020-11-29 19:50] Bboy486 commented on #9
Pause a video or nothing running have the same issue. I thought this script would randomly pull in art when there was no file running. That was what I was referencing. Right now I only see a poster when I play a file on plex.

My server is on windows and I tested on a note10+, nvidia shields (2 of them) and Fire tablets. Same issue on all (and I do update the ip for the clients when testing).

[2020-11-29 20:01] ZeroCoolGOS commented on #9
If you have stopped the video it should provide random "Coming Soon" artwork, provided you have set your "Plex Movie Selections" field in the settings.  Leaving this field empty or invalid will render the poster blank when not playing a movie.

I have not been able to recreate a blank page when I have paused my videos.

[2020-12-28 23:24] jeffreyswiggins commented on #9
I am having this same issue.  Installed this on my PI 3B+ today and works great if a movie is playing on the client but once stopped it goes black and nothing shows.  I have 1 "library" or "plex movie section" listed to make sure I am not missing something and that is "Movies".   Also have an issue where I cannot make the "Coming Soon Top Section" and "Bottom Section" plus the "Now Showing Top Sec

[2020-12-28 23:44] jeffreyswiggins commented on #9
So i manually edited the config.php file and got "custom" text removed so that is fixed.  The Coming Soon does not work.

[2020-12-29 01:30] ZeroCoolGOS commented on #9
@jeffreyswiggins how old is your build of Poster display?
There was an issue with the Coming Soon and Now Playing custom fields being improperly referenced and that should have been addressed within the last month or so as part of the dev branch.  Maybe give that branch a try and let us know if you still have the issue.

I will give the blank "Coming Soon" text a try as well.

Also if you can mayb

[2020-12-29 02:19] Bboy486 commented on #9
@ZeroCoolGOS Please also look into the blank screen on idle issue. Since @jeffreyswiggins has the same issue let's make sure we address that as it was my OP.

[2020-12-29 02:24] ZeroCoolGOS commented on #9
Can you also please provide a copy of your config file for review as well?

[2020-12-29 11:58] jeffreyswiggins commented on #9
So i reloaded with the DEV branch and it does seem more updated however I get the same results for Coming Soon.  My Sections in Plex are pretty straight Forward "Movies" and "TV Shows", but even with just "Movies" nothing shows up sp maybe I am missing something.

Also with the MASTER version the movie poster image shows up but with this DEV version it just says NOW SHOWING and **no movie poster**

[2020-12-29 11:58] jeffreyswiggins commented on #9
<?php
//PMPD Configuration
$pmpConfigVersion = '2';
$pmpUsername = 'admin';
$pmpPassword = 'vaRiaX6baSs';
$pmpClearImageCache = 'Yes'; //Default Yes
$pmpImageSpeed = '30'; //Default 30 Seconds
$pmpPosterDir = 'cache/posters/'; //Default cache/posters/ (FUTURE)
$pmpCustomDir = 'cache/custom/'; //Default cache/custom/ (FUTURE)

//Server Configuration
$plexServer = '10.0.0.41';
$plexToken = 'yPxJcf8q

[2020-12-29 13:59] jeffreyswiggins commented on #9
Also tested the **Coming Soon** and it still just shows a blank screen.  No text of even Coming Soon.

[2020-12-29 14:58] MattsShack commented on #9
The $plexServerMovieSection should be your library movie section number (not name)... I hope to fix this in a future release.
I am will be reloading my raspberry pi this weekend from scratch and will test as well.

[2020-12-29 15:09] jeffreyswiggins commented on #9
Woh... where the fat rat to I get a section number?  Like in **SETTINGS LIBRARIES** the number of the main section that is all considered **Movies**?

[2020-12-29 15:16] MattsShack commented on #9
Open your plex web interface via the browser of your choice.
Select your Movies section(s) from menu on the left.
Once section is loaded... Look towards the end of the URL in the browser. You should see something like "source=2". In this example my Movie section number is 2, however yours may be different.

I hope this helps :)

[2020-12-29 18:52] ZeroCoolGOS commented on #7
@mhankosky
I am working on an update to support SSL as well as the standard system and hope to have it as a PR to @MattsShack by the end of the Week/Month/Year :D

I have a working version, I am now trying to figure out is how to document where you can find the 'plex.direct' url as its not documented in the plex support documents very well.

[2020-12-29 22:03] jeffreyswiggins commented on #9
Okay i finally got back home and was able to switch from names to numbers for the Sections and that worked for it to start displaying the title and movie information however Posters still do not display on either Now Playing or Coming Soon.

Thanks so much for looking at this as I am very stoked to have this fun product working into my "theater"

[2020-12-29 22:53] ZeroCoolGOS commented on #9
@jeffreyswiggins
I may have found your issue.
Go into your settings and unselect the "Cache Images" checkbox and see if that fixes the issue.

I do not know exactly how this option works.  @MattsShack could shed more light on it.

Once I had mine turned on I would get the text but not the posters.  As soon as I unselected it then my posters where fine again.

@Bboy486 have any of the things Matt a

[2020-12-30 00:18] jeffreyswiggins commented on #9
@ZeroCoolGOS  when I unselect that I do not get posters and my text now disappears back to a blank screen

[2020-12-30 00:25] Bboy486 commented on #9
@ZeroCoolGOS sorry for the delay.

Cached Images
This was already unchecked for me.

in the config.php (I see two one in ~/Plex-Movie-Poster-Display and another in /var/www/html/Plex-Movie-Poster-Display) is it not saving the settings I added into the admin. I can manually add it but not sure which location?

  $pmpClearImageCache = 'Yes'; //Default Yes
  $pmpImageSpeed = '30'; //Default 30 Second

[2020-12-30 00:30] ZeroCoolGOS commented on #9
@Bboy486

It should be the "/var/www/html/Plex-Movie-Poster-Display" as that should be where the site is being hosted.

You should not need to make any direct modifications to the config.php file.

Your config file is not being updated at all after updates to the admin page?  Is that correct?

[2020-12-30 00:32] ZeroCoolGOS commented on #9
That is odd.  I will take your config and try and apply to my system and see if I can recreate.  I was only able to have a blank page when cache was enabled.

[2020-12-30 00:37] Bboy486 commented on #9
That is correct. I have it updated in the .admin.php but the config was empty. I did manually update the config file in var but the issue of the posters not showing on idle remains.

This is my manual config

  //PMPD Config
  $pmpConfigVersion = '2';
  $pmpUsername = 'xxx';
  $pmpPassword = 'xxx';
  $pmpClearImageCache = 'Yes'; //Default Yes
  $pmpImageSpeed = '30'; //Default 30 Seconds
  $pmpPos

[2020-12-30 00:43] ZeroCoolGOS commented on #9
@Bboy486
That is interesting.  We will first want to address that issue before we tackle the poster not showing on idle.

If the config is not updating at all then can you try to re-apply the permissions on the folder?  It could be that the admin page does not have permissions to write to the config.php.

Permissions
sudo chmod -R 774 /var/www/html/
sudo chown -R pi:www-data /var/www/html/

[2020-12-30 00:45] Bboy486 commented on #9
Sure. I had that already set but did it again. It looks to be updating.

Edit- spoke too soon. It is not updating from the admin.

admin - https://prnt.sc/wcn4ll
display (the yellow was what I had it before I saved) https://prnt.sc/wcn4uz

[2020-12-30 00:55] ZeroCoolGOS commented on #9
Ok.  So are some values saving but others not?  Like can you set the different text in the custom filed, save and refresh the admin page and it shows up?

[2020-12-30 00:56] Bboy486 commented on #9
Yes so Now Showing Top Font Color - color change works in the admin

Now Showing Top Font Outline Size & Now Showing Top Font Outline Color do not

[2020-12-30 00:58] Bboy486 commented on #9
I deleted all files and reinstalled them.  Still no writing to the config.php file (I ran the permissions again as well).

[2020-12-30 01:10] ZeroCoolGOS commented on #9
@Bboy486
Ok.  So I can recreate the issue with the "Outline Size" and "Outline Color" not displaying correctly and will need to be worked on to fix this issue.

For any other custom text fields, I would suggest to updating to the dev branch as it has a bunch of admin fixes already.

If from a clean install you should not have the Plex Token.  So when you go into the admin page you are providing th

[2020-12-30 01:25] Bboy486 commented on #9
Yes. I am modifying the config. What is the command to update to the dev branch?

[2020-12-30 01:26] ZeroCoolGOS opened #14 "Top Font Outline Size and Top Font Outline Color not working as expected"
Logging an issue with the:
- Top Font Outline Size
- Top Font Outline Color

Any changes set to these two fields are not being applied at runtime.

Testing still needs to be done for "Bottom" as well as for the "Coming Soon" sections as well.

System still defaults to the "Yellow" as part of the "Top Font Outline Color" no matter what value is set.

[2020-12-30 01:28] ZeroCoolGOS commented on #9
git checkout dev

That should get you into the dev branch and then you can do your install.

[2020-12-30 01:33] Bboy486 commented on #9
that wouldn't work for raspian right?

[2020-12-30 01:35] ZeroCoolGOS commented on #9
Well it depends on how your getting the code.  Are you using GIT to clone down the repo or are you just downloading the files?

[2020-12-30 01:38] Bboy486 commented on #9
cd /your_preferred_directory
sudo git clone https://github.com/MattsShack/Plex-Movie-Poster-Display.git

[2020-12-30 01:41] ZeroCoolGOS commented on #9
then cd into the "Plex-Movie-Poster-Display" directory
then git checkout dev

Then you should be in the dev branch
if you type "git branch -a" you should see something like "* dev"

[2020-12-30 19:19] ZeroCoolGOS commented on #7
@mhankosky
This feature should now be available for you from the dev branch as the PR has now been accepted.

[2020-12-30 20:42] Bboy486 commented on #9
All set-up. Coming soon issue remains.

[2020-12-30 20:53] ZeroCoolGOS commented on #9
I have found the issue with the Text color and size outline issue and should have a fix ready today.  Once we have that one closed then we can try and address the next issue.

As there has been a bunch of back and forth within this change I want to just make sure we are clear with the issues:
1. Coming Soon & Now Playing Text outline changes not applying correctly. - Fix coming soon (Attached to b

[2020-12-30 21:36] Bboy486 commented on #9
Missing Admin does not write/save to config even with permissions set.

[2020-12-31 00:29] ZeroCoolGOS commented on #9
@Bboy486

The latest dev branch code now has the fix for the text outline issue.

Looking back at your config posted. You still have text in your config plexServerMovieSection.

$plexServerMovieSection = 'Movies,Disney Pixar,Children Movies,Christmas Movies'

A few msgs above that @MattsShack has indicated that this needs to be a numeric value.  Have you updated these to be a numeric value instead

[2021-01-01 06:47] Bboy486 commented on #9
Yes I changed them

$plexServerMovieSection = '1,4,6,3,8,9,10';
$cacheEnabled = ''; //Default true

That brings the photos in (although some are screenshots and not poster art).
https://www.awesomescreenshot.com/video/2233744?key=127c919cc97324e8b940bdc3156c8fda
But the bug with the text is there (on refresh or launching the site).

[2021-01-01 07:03] Bboy486 opened #16 "CSS or Font request"
Feature Request to be able to use a Google Fonts (since they work with any web device) or custom fonts like movie fonts here https://famfonts.com/movies

[2021-01-01 17:30] Bboy486 commented on #9
Sample of image showing screenshot and not poster. https://prnt.sc/we8fnq

[2021-01-01 18:03] MattsShack commented on #9
Cached images should now be fixed in the dev branch.

[2021-01-01 21:01] MattsShack commented on #14
I tested the top and bottom text for Coming Soon and changes apply when changed.

[2021-01-01 21:01] ZeroCoolGOS commented on #9
@Bboy486

The sample image might have to do with what image your Plex server has assigned to that particular movie.  I believe this system is just pulling the image that Plex is serving up.  Can you validate that the poster is correct in your Library for these particular instances?

As for the "Font Oversize" issue.  I believe that was fixed in the dev branch.  Are you using the latest code from t

[2021-01-01 21:28] MattsShack commented on #7
Tested and this works. Thank you :)

[2021-01-02 06:43] Bboy486 commented on #9
No I thought I had the dev branch pulled in but I received this error:

pi@raspberrypi:/var/www/html/Plex-Movie-Poster-Display $ git checkout dev

fatal: not a git repository (or any of the parent directories): .git
pi@raspberrypi:/var/www/html/Plex-Movie-Poster-Display $

[2021-01-02 08:06] ZeroCoolGOS commented on #9
When doing a git clone or pull you should not be using it directly in the NGinX folder.

It should be done from a separate directory and then the files should be copied into the "/var/www/html" folder.

This could be partially the cause of the admin update that you are having.

I would recommend that you run your git clone from your download folder and copy the files over to the "/var/www/html" fo

[2021-01-02 16:16] MattsShack commented on #9
Remember that your config will be overwritten. So be sure to save you Plex Token etc. for easier setup.

**Master Branch**
cd /your_preferred_git_directory
sudo git clone --branch master https://github.com/MattsShack/Plex-Movie-Poster-Display.git
cd Plex-Movie-Poster-Display
sudo cp -R * /var/www/html

**Dev Branch**
cd /your_preferred_git_directory
sudo git clone --branch dev https://github.com/M

[2021-01-06 03:43] Bboy486 commented on #9
@ZeroCoolGOS I have Plex-Movie-Poster-Display in my home/pi/ folder and I copied it to /var/www/html/Plex-Movie-Poster-Display. I do not use docker.

Anyway I deleted the sub folder and copied into www/html. I am on the dev version now.

[2021-01-07 20:04] ZeroCoolGOS commented on #9
@Bboy486
Now that you have been running the dev branch for the past few days.  How has your system been running?
What issues have you ran into lately and what issues have since resolved?

[2021-01-07 20:16] jeffreyswiggins commented on #9
I have been running the latest dev branch I downloaded about 24 hours ago for the last 24 hours.  Not seen any issues and everything I have tested works as expected, I ha e tested the SSL yet because I haven’t read on what is needed for that

[2021-01-09 00:01] Bboy486 commented on #9
The dev branch has been great. No issues to report!

[2021-01-24 02:08] ZeroCoolGOS opened #19 "Review and address potential Plex Theme conflict"
Review and address any potential conflict with using the Plex theme and logo within the settings.

[2021-01-25 01:04] ZeroCoolGOS commented on #7
@MattsShack  This issue should be able to be closed.

[2021-01-25 13:12] #7 closed

[2021-01-25 20:16] ZeroCoolGOS commented on #16
@Bboy486  @MattsShack

A prototype of this feature is now in development.

[2021-01-27 20:57] ZeroCoolGOS opened #21 "PHP Version Upgrade"
Look at upgrading to PHP v. 8.0

There are a few enhancements that would allow for a cleaner code structure.

[2021-01-28 21:47] ZeroCoolGOS commented on #16
@MattsShack

I have a working prototype almost ready for review.  Would you like to include any fonts from the famFonts site?  If so what fonts would you like us to embed?

I have not yet setup to support external fonts (ref from diff sites) but we can upload 'stock' (embeded) or 'custom' ttf files.

[2021-01-29 00:27] ZeroCoolGOS commented on #19
This issue can now be closed as its covered in PR #20

[2021-01-29 00:27] #19 closed

[2021-02-05 08:29] #14 closed

[2021-02-05 08:30] ZeroCoolGOS commented on #14
More documentation may want to be added.  Keeping the size less then 10% of the size will give the outline, anything more will overwrite the size and color.

[2021-02-05 08:46] ZeroCoolGOS opened #23 "TV Show Support"
Look at adding support for TV Shows.

Currently if you define a TV library the poster shows blank.

If using a "custom" top or bottom string they will still show.

[2021-02-05 20:17] ZeroCoolGOS commented on #23
Now Showing:
Poster (for Season) is displaying.
Title = Episode Title

No "Show Title"

Coming soon will show no poster work when it comes across a "show"

[2021-02-05 20:53] ZeroCoolGOS commented on #23
@MattsShack

For "Coming Soon" it looks like we can get the show title as "Title"
For "Now Playing" should the "Title" be the episode title or the show title? or "Show Title - Episode Title"?
Or should there be an option specific for tv shows?

[2021-02-06 02:29] ZeroCoolGOS opened #25 "Cache Images - Potential Token exposure"
When using cache image function, the URL type is the old system and could possibly expose tokens.

Review section and use getPoster function to fetch image.

[2021-02-06 02:32] ZeroCoolGOS opened #26 "Cache Images - No file extensions"
Cache images do not have file extensions.

We may want to add the file extension and also do some validation on cache images.

Image validation would be good from a security perspective.

[2021-02-06 22:32] ZeroCoolGOS commented on #16
@Bboy486

This feature has been merged into the latest dev branch.

Please give a try and let us know if that works for your needs.

[2021-02-07 18:08] Bboy486 commented on #16
I updated the dev branch. When I tick custom font it only shows none from the drop-down. It looks like you are requiring downloading fonts but my request was to use css with the font-family attribute to pull in google fonts.
Ex.
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
<style>
h1.a {font-family: "Audiowide", sans-serif;}
h1.b {font-famil

[2021-02-07 18:12] Bboy486 opened #27 "Theme Idea (Enhancement)"
An idea for a theme would be to mimic what Steam or playnite (gaming front-ends) do where they have the graphic in the background and have the poster be the focal point. It could pull from the media folder that plex creates for the background image. This would let this script to be used in different uses that just a black background.

ex. Radarr - https://prnt.sc/ve4cip

[2021-02-07 18:22] ZeroCoolGOS commented on #16
That is correct. You will (currently) need to download your fronts that you would like to see.  I have yet to find a way to programmatically get a list of the google fonts, and there would be so many to put in the drop down.

To keep it simple for now, and not be overwhelmed with hundreds of fonts. You can download the fonts you like from google fonts and upload to your server.

I have tested with

[2021-02-07 19:20] Bboy486 commented on #16
Understood. Might be a way with css and php as you would do with a Drupal site.

Also this might be something
https://github.com/google/fonts

[2021-02-10 02:15] ZeroCoolGOS commented on #27
We have started on the backend code for this.

Hopefully we will have a front end option in the coming weeks.

[2021-02-13 00:58] ZeroCoolGOS commented on #27
@Bboy486

This feature should now be integrated and you should be able to test it out.

[2021-02-13 02:13] Bboy486 commented on #27
Should I rerun git clone or just apt update?

[2021-02-13 02:15] ZeroCoolGOS commented on #27
git pull to get the latest code if your already in the dev branch.

[2021-02-13 02:23] Bboy486 commented on #27
Sorry I did that but I still see this in the admin

Version 2.7.1  Download Updates

[2021-02-13 03:30] ZeroCoolGOS commented on #27
After you do your git clone you still have to copy the files from the git folder to your nginx folder (var/www/html).

We still don't have a rolling/simple upgrade process on active sites just yet.

[2021-02-15 21:36] Bboy486 commented on #27
Yes I do. I backup my config before I did that.

pi@raspberrypi:~/Plex-Movie-Poster-Display $ sudo git pull
Already up to date.

sudo git checkout dev
Already on 'dev'
Your branch is up to date with 'origin/dev'.

Maybe let me know what I should be seeing?

[2021-02-15 23:03] ZeroCoolGOS commented on #27
If you load the page and you see v2.8.0 or higher then you should have the latest version.

And if your on that version, you can go to the "Coming Soon" and "Now Showing" and show advanced settings and then you should have a background option.

[2021-02-15 23:14] ZeroCoolGOS opened #30 "Support Music"
Adding support for music libraries.

If you add a music library to your list then when it scans that library you end up getting a blank screen.

1. Fix how "Now Playing" handles Music
2. Fix how when "not playing" music is handled.

When "Now Playing" the Cover Art or Artist image will display.  Also looking at what info is displayed.

Skip music library when not playing music.

This support is co

[2021-02-15 23:42] Bboy486 commented on #27
Ok. I had to run it a few times but it works.

It is really cool. Looks like it doesn't always take the same photo as the movie (one time it did though).

Is it possible to have the background blurred out or have a cor overlay with screen or multiply on it?

Ex. https://images.app.goo.gl/nBtcy6ybfPv46zFNA

https://images.app.goo.gl/zccomhujZ5Ta7FVH7

https://images.app.goo.gl/vjXhF13Q5K8rNFqeA

On

[2021-02-15 23:50] ZeroCoolGOS commented on #27
When you say the same photo are you expecting the poster also be the background?

I will have too look into how it can blur out the background.

Please elaborate when you say core overlay with screen or multiple on it.

Refresh your page and see if the background switch is still on.

Sometimes when you have made a change, saved then make another change and save, some of the options are overwritten

[2021-02-16 02:21] ZeroCoolGOS commented on #27
I will add the blur in my next code release for @MattsShack  to review sometime this week.

[2021-02-16 21:32] Bboy486 commented on #27
When you say the same photo are you expecting the poster also be the background?

No I liked that it was a different but some of the posters had the same image and background image and others had different images. I prefer the later.

[2021-02-16 21:33] Bboy486 commented on #27
Please elaborate when you say core overlay with screen or multiple on it.

This is a photoshop terms

https://www.photoshopessentials.com/photo-editing/layer-blend-modes/intro/

[2021-02-16 21:34] Bboy486 commented on #27
Sometimes when you have made a change, saved then make another change and save, some of the options are overwritten. This is something I am still working on trying to address. In the mean time I would just refresh the page before you make an additional change. This will reload the settings again

I did save and refresh but it seems like a big because even though the background image was still chec

[2021-02-16 22:01] ZeroCoolGOS commented on #27
The way Plex provides the information, we do not have control as to what the background will be for be able to randomize that background.

If Plex has a background that is different then the poster then it will be used; if Plex's background is that poster then it will be used.  It all has to do with the data from Plex.  If no background is defined for the media, then Plex does not provide data for

[2021-02-16 22:03] ZeroCoolGOS commented on #27
I have made some adjustments for the background and will be available in the next targeted v2.9 release that I am working on and hope to have completed by the end of the week.  It will have an 8px blur on the background image as it currently stands.

[2021-02-16 22:07] ZeroCoolGOS commented on #27
I still have yet to fix the bug about the refresh.  But hopefully with the above mentioned v2.9 release the background image will be a bit more stable as I have made some changes to the implementation.

Also sometimes the media may not have background assigned to it in Plex, so in that place a black background will show up.

You should never see another media's background with a different poster.

[2021-02-18 17:26] MattsShack opened #31 "Research Plex Webhooks"
Research Plex Webhooks and see if it can be useful in future PMPD versions.
https://support.plex.tv/articles/115002267687-webhooks/

[2021-02-18 19:32] ZeroCoolGOS commented on #31
Any ideas as to what you may want to do with webhooks?

[2021-02-18 20:22] MattsShack commented on #31
I am not 100% sure yet. :)

I like the idea of the Plex server notifying PMPD when new media is being played instead of PMPD polling the Plex server every X seconds. ( That is the original idea that got me started me looking at webhooks. ) I think once PMPD is notified it will still need to check the Plex server for some information (Example progress bar updates), however until I get a test setup

[2021-02-18 20:25] ZeroCoolGOS commented on #31
Cool.  Ya I was thinking about that too.
I have played with the webhooks in the past a bit but nothing in depth so it will be a fun experiment.

Just an FYI: I will have a PR coming your way in the next day or so to address a few bugs but there are a few more "drastic" changes with that.  But it should help us in the long run to build out more functions and features :)

[2021-02-19 05:07] Bboy486 commented on #27
_You should never see another media's background with a different poster. If that is the case please log a new issue for us to investigate._

To be clear I'm not seeing anothers media I am seeing the same background and the poster. Most of the time it has different backgrounds but a few times it shows the same image in both areas.

[2021-02-19 05:17] ZeroCoolGOS commented on #27
Hmm. I don't know how that would happen or how we can address it from our end.

I have however seen that sometimes the wrong background art for the poster while using caching. That will be addressed with the next release.

Can you validate on your plex server to see if the poster image is the same as the background?

Also do you have caching on?

[2021-02-19 07:12] ZeroCoolGOS commented on #31
How far are you at coding the webhook reader?

[2021-02-19 21:22] ZeroCoolGOS commented on #27
The latest dev branch now has the background focus request.

[2021-02-20 05:23] Bboy486 opened #33 "Two Admins"
http://192.168.1.xx/admin.php
https://prnt.sc/101kf9y

http://192.168.1.xx/settings/login.php
https://prnt.sc/101kfpd

[2021-02-20 05:27] ZeroCoolGOS commented on #33
We have yet to remove the legacy admin page.

Since it has ￼diverged we should remove it soon.

It was kept as backup as we where still validating the new admin pages.

[2021-02-20 05:30] Bboy486 commented on #27
I do have cache on. https://prnt.sc/101khmp****

Where would I see the background image?

Good - https://prnt.sc/101ki2w
Not good - https://prnt.sc/101kjdd

[2021-02-20 05:41] ZeroCoolGOS commented on #27
When you go into plex you will have the option on the media when you try and edit it.

http://prnt.sc/101koxp

If you go into your media you will see what the background image is set to and if it is the same as the poster.  You can also change the image if you like.

[2021-02-20 05:44] ZeroCoolGOS commented on #25
This issue has now been resolved with v2.9

[2021-02-20 05:44] #25 closed

[2021-02-20 15:46] MattsShack commented on #33
Correct. The old admin page can be retired.
@ZeroCoolGOS has done a great job on the new page and is where all the future development is being done.

[2021-02-20 23:35] ZeroCoolGOS commented on #9
@MattsShack ,
It looks like the issues have been addressed for this ticket.

Unless @Bboy486  and @jeffreyswiggins object, I believe this ticket can be closed.

Any new issues can be logged in a new ticket.

[2021-02-21 17:40] Bboy486 commented on #27
I'll look into automating that. Here is another issue. The way the images render are progressive and if I set a low number for transition it doesn't render correctly

https://drive.google.com/file/d/1XZB0S9iIwXNvFstKCP7Ei5bGvRy1FUR5/view?usp=drivesdk

[2021-02-21 18:18] Bboy486 commented on #9
Yes thank you! Fixed on dev branch.

[2021-02-21 18:40] Bboy486 opened #35 "Color Picker Desktop"
Sorry for all the bugs but the color doesn't work. I can't change from default (yellow) or when I type F in the field it auto-populated #000000

https://www.awesomescreenshot.com/video/2831556?key=c2837d78babdf576d06d280944068751

[2021-02-21 19:23] ZeroCoolGOS commented on #35
No worries.  That is what bug reporting is for.

Yes, we have been aware of this issue.

I have been working to sort this issue out but have not been successful as of yet, and had not had gotten around to write up the issue myself.

Thank you for logging this.  I will be continuing to work on trying to fix this up.

In the mean time you should be able to copy/past values into the field.  Yes, this

[2021-02-21 19:31] ZeroCoolGOS commented on #27
What part will you automate?  Please keep us posted on any automation you do on your plex because we are always interested in seeing what others are working on :)

As for the progressive image rendering.  Based on your video it looks like you are not using the latest code (as the background does not have a blur).  Could you update to the latest version and see if that fixes the issue?

When we imp

[2021-02-22 00:21] ZeroCoolGOS commented on #35
A new color picker function should be available in v2.9.2

[2021-02-22 03:10] #9 closed

[2021-02-22 03:11] Bboy486 opened #37 "Enhancement: Marquee Borders and Lights"
There is an option currently to set a background image. But I was thinking it might be better to use an image between the poster and the blurred background to replicate traditional poster marquees.

Option #1 - Faux Lights
Having worked in a movie theatre as a kid (which is why I am so passionate about this project) the movie posters used to have lights or backlight to make them pop (ex https://me

[2021-02-22 03:27] ZeroCoolGOS commented on #37
I like the concepts.

I think that if it can be done physically with the lights, that would be cool.  I have yet to build my physical version of the poster (Its on my to do list for this spring/summer).
There are a few other "enhancements" that we could tie into the Raspberry Pi for some physical controls of devices and such.  But that might need to be a separate module in a future version.

That

[2021-02-22 03:28] Bboy486 commented on #27
_What part will you automate? Please keep us posted on any automation you do on your plex because we are always interested in seeing what others are working on :)_

I updated my Plex library to the newer agent to see if it does a better job of matching the metadata and images. https://forums.plex.tv/t/introducing-the-new-plex-movie-agent/615989

_As for the progressive image rendering. Based on yo

[2021-02-22 03:37] Bboy486 commented on #37
I was thinking this would be just images and the lights can be animated gif. I am going to use a pico projector and try to project it on the wall so there is no need for a tablet or larger display (like a magic mirror).

There were two versions in the theater. One was the modern backlit version I shared and the other was the marquee with the lights around the poster. I dont recall if the lights mo

[2021-02-22 03:40] ZeroCoolGOS commented on #27
To save you time for the backup/restore we have a backup option built into the admin page.

Go to the general page and show the advanced options and there is an "Export Configuration" to backup the file, and a "Restore Configuration" so all you have to do is upload your config file back to the system.

That should help speed up the rollout.

We still need to come up with a better upgrade path/scri

[2021-02-22 04:19] Bboy486 commented on #27
I saw that afterwards. Unfortunately I after copying over to the html folder I am greeted with only a back screen.

[2021-02-22 13:52] MattsShack commented on #37
This is something that may be considered in the future, however right now there are other features / code that have priority.
I like the ideas, please keep them coming.

[2021-02-22 18:48] ZeroCoolGOS commented on #37
@MattsShack

Would it be possible for us to get a list of features/code that has priority so we can see what you have in mind coming soon? :)

If there is any way we can help please let us know.

[2021-02-22 19:31] ZeroCoolGOS commented on #35
@Bboy486

If this is working as per your needs then we should be able to close this ticket.

[2021-02-22 19:33] ZeroCoolGOS commented on #27
After you copied all the files your given a blank screen?  That is after your overwrite of the config.php?

Are you able to get into the config pages?

[2021-02-22 19:34] ZeroCoolGOS commented on #33
The original admin files have now been removed.

This ticket should now be able to be closed.

[2021-02-22 19:35] ZeroCoolGOS commented on #30
The requirements for this ticket have been met and are now available.

[2021-02-22 19:35] #30 closed

[2021-02-22 19:38] ZeroCoolGOS commented on #23
More granular options for TV shows for "Now Playing"

Currently all the information is triggered off of 1 drop down.  A full section dedicated to TV Shows should be developed more.

@MattsShack please assign this ticket to me and I will build out the TV Show information more.

[2021-02-23 03:13] #33 closed

[2021-02-23 03:14] Bboy486 commented on #27
Yes I can get to the config but nothing on the front end

[2021-02-23 04:19] MattsShack opened #38 "Remove all Plex Asset"
I have been made _aware_ that PMPD is in direct violation of the [PLEX trademarks and guidelines](https://www.plex.tv/about/privacy-legal/plex-trademarks-and-guidelines/). I would like to apologize to PLEX for these violations.  All development will be focused on bringing this project into compliance with the PLEX Trademarks and Guidelines.

**Example Violations:**
You may not:
Use Plex or derivat

[2021-02-23 04:32] ZeroCoolGOS commented on #38
@MattsShack

I am sorry that I had made the changes to the admin UI that caused this confusion as well.

What can I do to help clear up the code for this?

I will go though the admin pages and work on addressing all the issues that are in violation.

[2021-02-23 04:59] MattsShack commented on #38
It okay, we live and learn.

I am not sure on the color scheme yet. I am open to suggestions.

Once the color scheme is decided work can begin on a new, built from scratch, bootstrap(?) frontend. It can keep all the same poster display features, however absolutely no PLEX scripts, CSS, HTML, etc. can be used.

This started as a side project and I am so surprised / happy that others are interest in

[2021-02-23 05:09] ZeroCoolGOS commented on #38
When you say not PLEX scripts. What do you mean by that?  Are we still able to keep using the API?

It feels like the violation is more on the cosmetic level.

I can help work on rewriting the admin interfaces since it was me who did most of the rewrite in the first place.

I had been working on moving all "Plex" related logic into its own library so this may be a good time to continue to move tha

[2021-02-23 05:13] ZeroCoolGOS commented on #38
Also what would you like to call the project?

Do we still want to call it Poster Display?  What had you envisioned this to grow into?

I have been looking at this project as a digital kiosk, and could grow into something outside of Plex, but keep that as a base.  Possibly even having it for other media applications or for even photos.

[2021-02-23 08:07] ZeroCoolGOS commented on #38
As you think of what direction you would like to take the project.  Give me through the weekend to work on a cleaner version of the settings pages.

I will work on stripping any Plex images and links.

Removing pointers to the CSS file.  There looks like a bunch of CSS that we may not need.  I have also identified a few areas that can be improved anyways.

I will have it in my forked branch and wi

[2021-02-23 14:39] MattsShack commented on #38
Yes, as long as the projects stays within the term it can use the Plex API, webhooks, etc.

Still working on the color scheme / name options. Suggestions are always welcome.

I would like the project to be compatible other streaming platforms in the future (Example Jellyfin / Emby); as well as have the ability to display art and photos. Maybe a more modular design.

[2021-02-23 22:04] MattsShack commented on #38
**Update**
Still working on a layout, name, etc.

**Layout**
Looking at using the latest Bootstrap and Bootstrap Icons. [Terms](https://themes.getbootstrap.com/terms/)

**Color Scheme**
Still open to suggestions / ideas.
![Capture](https://user-images.githubusercontent.com/597565/108912217-f438e380-75ed-11eb-9ef1-4aaf3d4b7ead.JPG)

[code]

[2021-02-23 22:26] ZeroCoolGOS commented on #38
Ok, cool.

Did you want to keep a similar type of layout? as in the sections on the left side and the main in the right?

As long as we are not using any of the css, fonts and colors I think the flow should still be safe to use.

I have a bunch of ideas to optimize but without using alot of 3rd party resources.

[2021-02-26 22:59] Bboy486 commented on #27
Anything else I should try or just delete and reinstall?

[2021-02-26 23:49] ZeroCoolGOS commented on #27
I'm not sure what could be the issue.

The fastest might be to delete and reinstall.

Sorry. I am currently working on this blocking issue we are having. Once that has been fully resolved I will try and get back on creating a better install/update plan to help simplify.

[2021-03-02 05:27] Bboy486 commented on #27
Sure thing.

[2021-03-03 22:45] ZeroCoolGOS commented on #38
@MattsShack

I am pretty close to having all the css cleaned up for the settings page.

Do you have a new font in mind?

I have been using your above colors but I have taken some liberties with them just for testing purposes.

I am hoping to have this cleared up by the end of the weekend.  That should clear up most of the color/icon/style issues.

Let me know if you have any more info as to what y

[2021-03-04 05:49] ZeroCoolGOS commented on #27
@Bboy486

I have now seen the issue your seeing about the blank page.

I will try and get you a hotfix tomorrow.  I know of "what" the issue is, but don't know why just yet.

Sorry for the trouble.

@MattsShack
I will work on a hot fix and then switch back to the rebranding as I am almost done.

[2021-03-04 14:00] Bboy486 commented on #27
I went and deleted and reinstalled. New issue is the background image no longer works. Toggling on and off on mobile and saving doesn't update.

Same on desktop.

Also ip/admin still goes to the old admin. Ip/settings/coming soon.php goes to the new one.

[2021-03-04 16:21] ZeroCoolGOS commented on #27
Ok.  Still working on a fix.

I don't know what happened but something must have gone out of alignment with v2.9.

Even my logging system broke.  I will try and get it fixed today.

The ip/admin page should not show up but I will try and see what is going on in that one too as part of this fix.

Sorry again, I don't know how/why this got past any of my testing.

[2021-03-04 17:07] titelies commented on #35
Most color pickers I have tried worked fine yesterday and today. The Progress Bar Color picker, however only works with a copy & paste into the field box, doesn't allow to manually typed in. Thank you for work on this project, version 3 is impressive. Have been using PMPD since January 2017.

[2021-03-04 17:22] ZeroCoolGOS commented on #35
I will have a look at the color picker for the progress bar as well.

[2021-03-04 17:25] titelies opened #39 "Scrolling Summary Bottom Text for Now Showing"
I have been using Matt's original PMPD work up til yesterday when I finally replaced my Pi 3 with a new Pi4 8GB cause I was dealing with swap memory and wifi issues. Images would stall and have to catch up all the time. Anyways, appreciate all the progress the Dev updates have made. One thing I have been used to is having scrolling text (upwards) in the Now Showing bottom text for movie Summary an

[2021-03-04 17:50] titelies opened #40 "Mobile Friendly PMPD3 Suggestion"
One of the features I liked about PMPD2 was the ability to manage/edit the PMPD settings easily from a mobile device if need be. I know some things are being changed due to Plex branding, a mobile friendly version of PMPD3 would be a suggestion that I believe would be beneficial to some users. https://i.imgur.com/hisNQPsl.png

[2021-03-04 19:24] ZeroCoolGOS commented on #27
@Bboy486
I have submitted a fix to this issue, now just waiting on @MattsShack to approve.

Once done you need to be running v2.9.3 for this fix and the ip/admin.php should not be there if you have done a clean install.

Once you have this version please let me know if you are still having issues.

[2021-03-04 19:25] ZeroCoolGOS commented on #35
@titelies

Thank you for bringing this one to my attention and I have now fixed it in the v2.9.3 build once @MattsShack approves my Pull Request.

[2021-03-04 19:29] ZeroCoolGOS commented on #40
@titelies

I like the idea, but one of the things that I believe we are facing is that there are now so many options, and that is why we split it up into multiple pages.

Are there any options that you would be mostly wanting to control on a mobile device (vs all of them)?

That way we could prioritize them as a POC.

And yes, due to the rebranding I don't know when this issue will be able to be t

[2021-03-04 19:33] ZeroCoolGOS commented on #38
@MattsShack

I believe I now should be complete with the decoupling of the PLEX branding inside of the setting.

I have been trying to isolate what is "PLEX" and what is "Movie Poster Display".  If you run my latest branch you will see that I am testing out any settings for a "PLEX" server into its own page.  That way we could add different types of Media servers going forward.

[2021-03-04 19:37] titelies commented on #40
No worries, and excellent point... this does have much more options. Thank you for your updates. Hoping my suggestions will be worthwhile to other PMPD users. Kudos!

[2021-03-06 15:42] titelies opened #42 "Custom Font Top Text Alignment"
Really like the suggestion of the FamFonts site for custom fonts for use with PMPD and while many of the Movie font types show up as generic fonts some of my favorites like The Avengers, Predator, The Godfather, and Indiana Jones fonts look very attractive. It seems the area where the Top Text is located needs to be set for midline alignment (center vertical) if that's what it's called cause the t

[2021-03-06 18:17] titelies opened #43 "502 Bad Gateway Nginx Error"
Can anyone provide as to why I'd be getting an 502 Bad Gateway Nginx 1.14.2 error message for the following pages:
Coming Soon, Now Showing, Custom Configuration, and Font Configuration?
I can access General, Security, Common, Server and Client Configuration pages without issue.
Issued seems to have occurred when I was uploading one of the custom fonts on the Font Configuration page.
Any advice wo

[2021-03-06 18:33] ZeroCoolGOS commented on #43
This sounds like you are missing files when you updated.

Can you check to see if all the files are copied over correctly?

Also what build are you running?

[2021-03-06 18:36] ZeroCoolGOS commented on #42
Interesting.

It's something we can definitely look at post "rebrand" issue.

[2021-03-06 18:40] titelies commented on #43
Pulled 2.9.3 last night and copied to the /var/www/html folder and it was working last night and this morning. I was uploading the Mr Robot TV Show font on the Font Configuration page and it seemed to fail and then those 4 bottom pages from the left menu began reporting the 502 Bad Gateway error. Tried recopying new folders and files into the html folder as mentioned and it didn't help. Rebooted P

[2021-03-06 18:50] ZeroCoolGOS commented on #43
Hmm. That is odd.

I will try and do that on my side and see if I can reproduce the error.

[2021-03-06 19:03] titelies commented on #43
I had uploaded quite a few fonts to the folder without issue but when I tried to upload that one it seemed to have broken something.
I did use ApplePiBaker to make a backup of my SD Card while everything was working and I have the Config file backed up thanks to that feature in the General page, so I will give that a try later this evening.

[2021-03-06 19:17] ZeroCoolGOS commented on #43
I have pulled down the Mr Robot font zip from FamFonts.

I am not able to recreate the 502 bad gateway issue.  But unfortunately this font will not work at this time as we only support the ttf font format and this font package only contains otf font file.

Please write up a separate bug for support of multiple font formats and some examples so we can explore them in the future.

But since I am not

[2021-03-06 19:30] ZeroCoolGOS opened #44 "Font Enhancements"
Due to the growing popularity to the font system. there are a few enhancements I would like to make to the system.

1. Add "Clear Fonts" to clear out all custom uploaded fonts.

2. Add a check to see if a font file is supported within a zip file

3. Add support for multiple font formats (eg. OTF)

4. Update the "Unzip" to not unzip to the root of the fonts folder but to unzip to its "Zip File Name

[2021-03-06 22:38] titelies commented on #43
That did the trick... I deleted the __MACOSX folder and rebooted and I am able to access those pages again! Outstanding!
Thank you very much!!! Didn't end up needing the restore. Kudos Geoff!

[2021-03-07 00:11] ZeroCoolGOS commented on #43
Cool.  I'm glad that worked out.

I will add "Remove _MACOSX folder" to the next round of enhancements for the font ticket I have created.

[2021-03-07 02:52] Bboy486 commented on #27
FYI the background art was also missing.

[2021-03-07 02:54] ZeroCoolGOS commented on #27
@Bboy486
Was or still is with v2.9.3?

[2021-03-07 03:08] Bboy486 commented on #27
Yes. I am on the latest dev
pi@raspberrypi:~/Plex-Movie-Poster-Display $ sudo git pull
Already up to date.

[2021-03-07 03:12] ZeroCoolGOS commented on #27
Ok, sorry.  I will look into this shortly.

[2021-03-07 03:27] MattsShack commented on #38
Thank you. I will check it out soon as I am back at home.

[2021-03-07 03:30] ZeroCoolGOS commented on #38
Sure, no problem.

I will have a few more code drops in the next day or two for your consideration and hope to have a v2.10 PR with these changes within the next few days so we can get to an "Unblocked" state and then I can do some polish as I fix up more of the bugs that have been popping up and back to working on features.

[2021-03-07 03:45] ZeroCoolGOS commented on #27
@Bboy486

I might have partially replicated your issue with the latest dev branch.  But I found it to be the cache has not been refreshed once the code was updated.  So a Ctrl+F5 should help.

Give that a shot and let me know if that helps.

And just double checking that even though you did the git pull you also copied the files up to the var/www/html path?

[2021-03-07 04:41] Bboy486 commented on #27
Yes. I was just letting you know I'm on the latest update. I had copied everything over and that's when these issue developed.

[2021-03-07 04:43] ZeroCoolGOS commented on #27
Hmm ok.

I will dig deeper on my end and see if I can some how reproduce.

[2021-03-07 09:10] ZeroCoolGOS commented on #38
All Plex images are now removed.

PLEX CSS file still exists but will be removed in next commit.

To-Do:
New frontend with unique code and color scheme.
- Frontend has been refactored and 90% of the CSS has either been renamed & changed formatting, some of the "css classes" are stock classes so no copywrite infringement should be clamed.  More refactoring can and will be done for simplification.
-

[2021-03-07 14:39] #43 closed

[2021-03-07 18:12] Bboy486 commented on #27
Will this help https://www.awesomescreenshot.com/video/2978389?key=98c93be7bda111458e28d2cc1485269e

[2021-03-07 19:25] ZeroCoolGOS commented on #27
I know there is a refresh bug when you press the save button.

So once you hit save you have to hit F5 or go and come back to that page to see the settings update.

The save button works it's just how it's loading the change after save.

So if you keep making a change on the page, save and make more changes without refresh then the previous changes get over written.

I have yet to figure out this

[2021-03-07 22:13] Bboy486 commented on #27
Cool. Well ill just wait for the next push.

[2021-03-07 22:36] ZeroCoolGOS commented on #27
I don't know if I will be able to fix the refresh bug by the next push.

But in the mean time can you check your config.php file and see if "$comingSoonBackgroundArt = '1';" after you have turned on the background art and saved.

If the config says 1 then the background art should be working.  If it still says 1 and there is no background art then please let me know so I will need to dig more into

[2021-03-07 23:41] Bboy486 commented on #27
//Coming Soon Configuration
  $comingSoonBackgroundArt = '1'; //Default: false

https://prnt.sc/10fnlz6

[2021-03-07 23:44] ZeroCoolGOS commented on #27
Hmm.  That is odd.
I will keep looking to see what could be the issue and hopefully I will solve the issue for you.

[2021-03-07 23:56] titelies commented on #27
FYI, Background Art is working for me using 2.9.3 when testing on my laptop. I don't use Background Art myself cuz my TV is hung vertically and that's where I use PMPD. Just trying to help. https://i.imgur.com/ehLv7Jo.png

[2021-03-08 15:42] titelies opened #45 "Coming Soon Show Movies - Recently Added & Newest TV Show Poster/Backgrounds Issue"
I tend to use ALL in the Show Movies Coming Soon Advanced dropdown menu cause Plex seems to always have the wrong info for Recently Added and Newest, old movies get mistakenly added, not sure if others have noticed this as well.
However, the issue that I'm reporting is when I tested the Recently Added and Newest dropdown choices, instead of PMPD displaying the TV Show posters, it posts random back

[2021-03-08 16:32] ZeroCoolGOS commented on #45
Interesting.

I have not actually tested the other options, so that is my bad.

I will have a look this week and see what is going on.

[2021-03-08 18:09] titelies commented on #45
No worries Geoff, just trying to help. Upon further investigation, the images showing up for Recently Added & Newest are Episode Posters, not TV Show posters.

[2021-03-08 18:16] ZeroCoolGOS commented on #45
Ah.  Yes, I see what your saying.

All and Unwatched seem to be working correctly, but when you select Newest or Recently Added then you get the TV show episode art.

I will dig in the logs now and see what I can find.

*** Update ***
I have found out why it's showing the "Episode Poster" when set to Newest or Recently added.
It has to do with the metadata coming back from the API.

Now that I kno

[2021-03-08 19:30] ZeroCoolGOS commented on #45
@titelies

When displaying posters for TV shows.  Would you always want to use the TV Show proper poster or would you also want the option to set for the "episode poster" or "season poster"?

[2021-03-08 19:38] titelies commented on #45
I would most likely use the TV Show poster but the Season Poster sounds like be a nice option as well. Episode Poster would not work for my particular case cuz my TV is displayed vertically and the Episode posters are horizontal.

[2021-03-08 19:56] ZeroCoolGOS commented on #45
Ok, cool.

I have found the issue and will have it fixed in my next push as well as add an option to set the type (Episode, Season, Series) just like how the Now Playing has that option.

The only thing I can see is when you use TV shows as part of your Coming Soon, the same poster can come up more often then others if you have added multiple episodes as the changes get a lot higher you will hit o

[2021-03-08 20:01] titelies commented on #45
Thanks for the TV Show poster info, sounds like I'll be choosing the Season Posters to get some variation. Much appreciated!

[2021-03-09 20:01] ZeroCoolGOS opened #46 "Enhancement - Ratings Filter"
Look at adding a ratings filter so that during certain times of the day only age appropriate posters show up.

Movies:
Rated G: General audiences – All ages admitted
Rated PG: Parental guidance suggested – Some material may not be suitable for children.
Rated PG-13: Parents strongly cautioned – Some material may be inappropriate for children under 13.
Rated R: Restricted – Under 17 requires accomp

[2021-03-09 23:22] ZeroCoolGOS opened #48 "Enhancement - Digital Picture Frame Mode"
Enhance Custom Configuration to use system as a digital picture frame.

Phase 1:
- Generate list of all custom images uploaded and randomly pick a photo.
- Set as "Full Background" same as how the background art is working.
- Disable "blur" for photo album

Phase 2 (Possibly):
- Add metadata read for display of information per photo.
- Add "Folder Name" display and use that as metadata

[2021-03-09 23:24] ZeroCoolGOS opened #49 "Enhancement - Clock for Custom Images"
Possible Enhancement could be to add a clock to display.

[2021-03-09 23:25] ZeroCoolGOS commented on #45
This fix should now be in v2.10.

Give it a go and let me know if its working correctly for you.

[2021-03-10 00:20] titelies commented on #45
Working well in Show Media: Newest and have decided to go with the Seasons Poster... Great idea Geoff!

[2021-03-10 00:20] #45 closed

[2021-03-10 00:29] titelies commented on #44
Not sure how to get my custom font working again after updating 2.10.  Left fonts folder alone, ran update, when rebooted fonts on MPD showed as generic in sample on page and also on Poster TV. Deleted all font folders within /var/www/html/cache/fonts, used the Browse and Upload of my saved Bundle but it's still generic font type. Any advice would be appreciated.

[2021-03-10 00:46] titelies commented on #45
FYI: Successfully tested with new Plex TV Series (BETA) Agent

[2021-03-10 00:48] ZeroCoolGOS commented on #44
How did you run your update?

Can you check to see what is now in the fonts folder and let me know if it unpacked correctly via the Browser?

[2021-03-10 00:48] ZeroCoolGOS commented on #45
Plex TV Services (BETA) agent?

[2021-03-10 00:57] ZeroCoolGOS commented on #44
I think I see  the issue your seeing.  I'm digging into it now.

[2021-03-10 00:58] titelies commented on #45
Yep, just released for Plex Pass users in the past week: https://forums.plex.tv/t/beta-new-plex-tv-series-scanner/696242

[2021-03-10 01:03] titelies commented on #44
After doing the update, the fonts weren't working so I went into the cache/fonts folder and removed each of the font folders and just left the fonts_custom.css file. I then used the Browse and Upload of my downloaded bundle and the font folders will all put back into the cache/fonts folder but it still has a generic font and not the one selected from the dropdown menu.

[2021-03-10 01:05] ZeroCoolGOS commented on #44
Ya, im now seeing that too.  I'm working on tracking down the bug.

[2021-03-10 01:06] ZeroCoolGOS commented on #45
Interesting.  I will have to dig into that more.

[2021-03-10 01:38] ZeroCoolGOS commented on #44
I have submitted a PR for @MattsShack to approve that contains the font display fix.  It will be in build 2.10.1

[2021-03-10 01:44] titelies commented on #44
Outstanding! Do I need to empty the fonts folder or leave the way it is now with all of the font folders and the fonts_custom.css file?
Will I need to do a Browse & Upload of the font bundle again?

[2021-03-10 01:48] ZeroCoolGOS commented on #44
No. You should not need to empty and re-upload your font folder.

The fonts_custom.css gets regenerated when you hit the fonts page so just navigate to that and it should refresh.

I am also experimenting with a "FULL BACKUP" to also backup the fonts and the config files.  So in future that will be easier to move around and update.

[2021-03-10 02:15] ZeroCoolGOS commented on #44
@titelies
v2.10.1 should now be ready and should fix your font problem.

[2021-03-10 02:27] titelies commented on #44
Spectacular! Thanks again Geoff... once the top text vertical alignment is resolved... Coming Soon will be perfect! Thank you sir!

[2021-03-10 02:30] ZeroCoolGOS commented on #44
No problem.

What font and font size are you using so I can try and us that to test against for the Now Showing?

Also are you having the issue with Coming Soon?

I will try and get to this issue this week and have a PR for Matt next week as he mentioned to me that he is out of town this week, so I don't want to bother him too much and just stack up the fixes.

[2021-03-10 02:46] titelies commented on #44
I edited my comment, I meant the Coming Soon but obviously I use the same font and size for the Now Showing as well. I am using the Avengers font:  https://famfonts.com/avengers-movie/   After adjusting overscan in /boot/config.txt it got better but I just have to use a smaller font than I would like. Currently, using size 100 but I think if the alignment were in the center and not at the top, I b

[2021-03-10 02:49] ZeroCoolGOS commented on #44
Cool.

I will give it a try.  I am not currently working with the RPi at this time, so I have not been playing with the boot/config file so I will see when it comes to at the code level vs hardware level

[2021-03-10 18:56] ZeroCoolGOS commented on #44
@titelies

After further investigation I have determined that the font is actually centered.  The issue is the field that the text in is set to 10% of the display so with such a large font size it exceeds the 10% threshold.

I am looking at different options for workarounds.

Keeping the 10/80/10 ratio is the most ideal.  If I was to scale up the title, then I would have to scale down the poster i

[2021-03-10 19:03] titelies commented on #44
I completely agree with the 10/80/10 but that's still strange, only cause I am running the same font and size on the top and bottom and the bottom one looks perfect but the top text is right on the edge of the top of the screen (left edge, if TV were mounted horizontally). The bottom text size 100 has more words and perfectly centered horizontally and vertically while the top isn't. Weird! Thanks

[2021-03-11 14:58] titelies opened #51 "Coming Soon - Show Media: ALL - Not Displaying TV Show Posters"
FYI Geoff when the Coming Soon Show Media dropdown is selected to ALL, a blank (black) poster will appear no matter whether the setting is Series or Season. If I remove the number representing my TV Shows library in the Plex Configuration, then the blank poster does not appear any longer.

[2021-03-11 16:18] titelies commented on #51
Ah, just noticed if I select Episode from the dropdown, the Season poster appear. Switch it back to Series or Season and it provides a blank image.

[2021-03-11 17:01] ZeroCoolGOS commented on #51
Hmm.

Well what I have set up is if the the episode poster does not exist then it will try the season, then the series.

I will add some logging to capture this fail over.

Does it happen on all shows or is it random?

If it's random.  Can you check your plex server and validate that all your posters are showing correctly there?

Some of my TV shows don't set the posters correctly so I have to man

[2021-03-11 17:14] titelies commented on #51
The 3 Display TV Show settings work correctly for Recently Added and Newest. However for Unwatched and All choices, TV Show posters are blank if I choose Season or Series. If I select Episode, then it will show the Series poster and not Episode images. I am OCD about my Plex library posters/backgrounds so all TV Show series posters are different from the Season ones, which have the Season One, Two

[2021-03-11 17:51] ZeroCoolGOS commented on #51
Sounds good.

I will give that combo a try and hopefully recreate the issue your having and try and address it soon.

They way that Plex provides the data via API changes between types when it comes to tv shows.

[2021-03-11 20:22] ZeroCoolGOS commented on #51
I have been able to recreate the issue and I have identified the problem.

So now when running in "All" or "Unwatched" there should not be any more blank posters, but get the Series poster.

When you have selected either "All" or" Unwatched" of these the "Episode/Season/Series" is no longer usable as this extra metadata is not available from the PLEX API.

Fix should be ready in build v2.10.2 some

[2021-03-11 23:19] titelies commented on #51
Amazed by how quickly you return with a solution! KUDOS!

[2021-03-11 23:26] titelies commented on #51
It's so great to finally see Plex posters that I have never seen before on my PMPDisplay TV for over 4 years now!

[2021-03-11 23:39] ZeroCoolGOS commented on #51
No worries.

I am looking to build my TV display this summer.  But in the mean time I am enjoying working on this project.  Its a pretty cool application that Matt wrote.

[2021-03-12 00:47] jeffreyswiggins opened #52 "Where is the admin.php in the dev branch? Trying to update from a previous DEV version several months old and i find no admin.php any longer"
Where is the admin.php in the dev branch?  Trying to update from a previous DEV version several months old and i find no admin.php any longer

[2021-03-12 01:13] titelies commented on #52
Personally, I grabbed a new Micro SD card for my Pi and started from scratch. PMPD has evolved quite a bit. There's no admin.php page any longer in 2.10. Pages have been revised, new pages, new directories from what I can tell from the previous PMPD versions. https://github.com/MattsShack/Plex-Movie-Poster-Display/issues/33

[2021-03-12 01:53] MattsShack commented on #52
http://<ip_of_raspberry_pi>/settings/login.php is the new login page.

[2021-03-12 02:32] ZeroCoolGOS commented on #44
@titelies
I am still working on the font "center" issue

But with this build (2.10.2) you will now be able to use the Mr Robot font and other fonts that are otf files.

The file upload will not (yet) allow you to upload the file individually but you will be able to use the zip file.

Also just as a note: You can always export your uploaded fonts into a single zip file for a later restore so you do

[2021-03-12 03:51] titelies commented on #44
@ZeroCoolGOS  Sounds good Geoff. Looking forward to the alignment fix at some point :100:  I like the generate bundle feature for the Fonts, just as a backup and restore.  When version 3 becomes available it's going to be outstanding! I unfortunately don't have the skills to do what you do but testing and quality assurance I can handle. :1st_place_medal:

[2021-03-12 03:55] ZeroCoolGOS commented on #44
I'm just learning as I go.

But ya, the more people test helps us fix bugs we may miss.

I don't know how the v3 thing is working as this is referring v3 but it's been versioned as v2.

I just keep processing and trying to make things better for everyone.

[2021-03-12 10:08] jeffreyswiggins commented on #52
okay thanks..... is there a new DISPLAY page as well... all i get now is the blank page with a X button on the top corner when i go to http://<ip_of_raspberry_pi>/.  In the version i have working that is where it was to go and what your documentation said.  Read thru the /docs folder and it looks like that hasnt been updated

[2021-03-12 16:55] ZeroCoolGOS commented on #52
No, there is not a new display page.  Just the admin page has been updated.

Could you please attach a screenshot of the issue your seeing?  I have not seen that issue of having an X on the display page.

Most of the documentation should be up to date.  What part of the documentation is out of date and we will look at making sure it's updated.

[2021-03-12 19:06] ZeroCoolGOS commented on #52
I have identified a few small out of date items within the documentation and will have them resolved in the next update.

[2021-03-13 02:43] titelies commented on #44
@ZeroCoolGOS  Noticed that the Movie Poster Display Footer link to the Github page was mixed in with my Installed fonts and samples instead of at the bottom of the page. https://i.imgur.com/sgBq9Gk.png

[2021-03-13 02:48] ZeroCoolGOS commented on #44
Yup.  I saw that too and will be fixed in the next push.

[2021-03-13 02:54] #40 closed

[2021-03-13 09:27] jeffreyswiggins commented on #52
Okay...  I went out of town until Sunday so will try to screen capture the X button when I get back

Jeffrey Wiggins
(918) 609-5934 - Home
(918) 809-1398 - Cell
***@***.***
On Mar 12, 2021, 13:06 -0600, Geoff S. ***@***.***>, wrote:

[2021-03-13 15:34] titelies commented on #51
Great @ZeroCoolGOS ! I would suggest noting that if All or Unwatched are selected, only Series posters will display. Eitther under Show Media or added to the "Display TV Show information from" note. Just so there's no confusion for others as to why Series posters are displaying when they have selected Season for example.

[2021-03-13 16:18] titelies commented on #39
Thanks for this wrap text scroll fix! Still investigating the look of the scroll, seems to pause/jitter sometimes, not sure if it's Pi WiFi issue on my new Pi4 8GB.

[2021-03-13 16:34] titelies commented on #44
Seem to still have issues with the Custom Fonts... Blade Runner, Terminator, Tron which are .TTF fonts still shows up as generic fonts. Mr. Robot .OTF caused the Nginx Bad Gateway error again until I removed the folder and rebooted. I'm assuming 'Clear Fonts' you mentioned in the updates refers to the Clear Cache button for fonts, not sure when to use that exactly or if I need to...

[2021-03-13 17:05] ZeroCoolGOS commented on #51
I will update the comments to reflect that.

[2021-03-13 17:10] ZeroCoolGOS commented on #39
I don't think it's your hardware.

It might be the JavaScript being used as I too have a jittering.

Depending on the amount of text and the speed that things are set.

So if you have the refresh to set for a short time and there is a lot of text then it could jump.  Also there is a pre pause when it first loads.

I am not totally familiar with this piece of code so I don't know all the ins and ou

[2021-03-13 17:18] ZeroCoolGOS commented on #44
Ok. I will try those fonts for testing.

I used the mr robot font and it was working so I am not sure why your getting the bad gateway.  I will have to do more investigation. I am not currently testing on an RPi directly so I wonder if it's a direct hardware issue.

Also sometimes it helps to clear the browser cache for the fonts to show up.

As for the clear fonts button, yes it's the "clear cach

[2021-03-13 17:34] titelies commented on #39
Thanks Geoff @ZeroCoolGOS sample video: https://i.imgur.com/RnXNVp7.mp4

[2021-03-13 17:39] ZeroCoolGOS commented on #39
Interesting.  I saw something like that when I was testing but I thought I had fixed it.

Can you also validate it has the same issue on your PC or phone?  Just want to check if it could be front end or back end.

Also what TV make and model are you using?  It's got some nice clean lines.  Just what I'm looking for.

[2021-03-13 18:04] titelies commented on #39
Tested on Brave browser on Linux and it has the same jitter effect.
TV depth is more than I would have liked but I was also trying to keep the costs down. However, I wanted the borders to be minimal and symmetrical... Sharp 50 LED 1080p Smart HDTV Roku TV https://www.bestbuy.com/site/sharp-50-class-led-1080p-smart-hdtv-roku-tv/4863102.p?skuId=4863102

[2021-03-13 19:21] ZeroCoolGOS commented on #44
It looks like the __MACOSX folder is extracting.  I thought that would be addressed when I am only pulling the font files.  I guess it is not.
Can you try and remove the __MACOSX again and see if it fixes the gateway problem?

I will make sure to remove that explicitly this time.

I am digging into why Tron, Terminator and Blade Runner fonts are not showing.  I believe they where working in the pa

[2021-03-13 20:05] titelies commented on #44
I wondered if the issue was the CAPS, I should've mentioned it. So, if I manually change the name to lowercase, it will fix the issue? Going to give it a try and remove the MACOSX folder to see what occurs.

[2021-03-13 21:06] ZeroCoolGOS commented on #44
yes.  If you lowercase the extension then that should fix it.

[2021-03-13 21:14] titelies commented on #42
@ZeroCoolGOS  So, it looks like choosing a different custom font solves this issue. Using the Blade Runner font aligns properly

[2021-03-13 21:17] ZeroCoolGOS commented on #42
Cool.  Ya, its kinda hit and miss with custom fonts sometimes.  Its all about what the bounds are and how to find the center and scale properly.

[2021-03-13 21:21] #42 closed

[2021-03-14 04:11] titelies commented on #44
Tron and Mr Robot keep causing a Bad Gateway when trying to go back to the General page, even after removing the MACOSX folder. Removing those fonts after adding them gets rid of the Bad Gateway issue on the General page.

[2021-03-14 05:25] ZeroCoolGOS commented on #44
Interesting.

Sorry that it's ￼ causing you issues. I will try and see what I can do and how I can get it fixed.

[2021-03-14 10:32] ZeroCoolGOS commented on #44
I am now seeing the bad gateway issues and I am trying to chip away at them.  Hope to have a fix by the end of the weekend.

[2021-03-15 16:46] titelies commented on #44
Font issues and Bad Gateway seemed to be solved. As always, thank you for the updates @ZeroCoolGOS !

[2021-03-15 16:47] titelies commented on #51
Looks good!

[2021-03-15 16:47] #51 closed

[2021-03-15 17:32] titelies commented on #44
So, I am able to upload new fonts using the Font Config without Bad Gateway error. However, it looks like any of the new fonts I test, no matter what filetype, will produce a generic font. Terminator, Tron, Mr. Robot, Ghostbusters, Knight Rider, Godzilla, Friday the 13th, The Crow, etc. Should I Clear Font Cache and try again?

Also, when I first uploaded them on Font Config page the Samples were

[2021-03-15 18:48] ZeroCoolGOS commented on #44
That is odd.

I know that some fonts don't show up as nice as they should for some text.  I would try a Ctrl+F5 to see if it clears the preview up.

If that does not work, try and clear the fonts and re add them.

And if that still does not work. please provide the font_custom.css so I can review how its generating for you to make sure that its coming out correctly.

I just uploaded a few of the f

[2021-03-15 18:55] titelies commented on #44
The Font Clear Cache and Import worked!

[2021-03-15 18:56] ZeroCoolGOS commented on #44
Good.

You should not need to do that but its good that that worked.

[2021-03-16 00:42] ZeroCoolGOS commented on #39
I still have not been able to recreate the jitter issue that is happening.
How often do you have the refresh set for?

[2021-03-16 01:19] titelies commented on #39
@ZeroCoolGOS It's currently set at 5 seconds which is slower than the 3 seconds I used to use on PMPD2. What do you recommend Geoff?

[2021-03-16 01:58] ZeroCoolGOS commented on #39
Well that is most likely the problem with the jittery.

The default timer is 30 seconds.

Try that and see if it fixes up the scrolling text.

[2021-03-16 03:58] tkent42 commented on #48
Seconded. I made a digital frame made for art and displaying images with feh. I just setup this Movie Poster, (Great work!) and it would be so great to do both without restarting. Instead of coming soon it could be a folder of images. Would help to have a different refresh interval for this setting too.

[2021-03-16 04:01] ZeroCoolGOS commented on #48
I will look at setting the refresh rates for each type, as that will come in handy.

[2021-03-16 19:58] ZeroCoolGOS commented on #44
ToDo:
- Add Fix for when font = None that it defaults back to system font not generic font.

[2021-03-16 20:47] ZeroCoolGOS commented on #52
@jeffreyswiggins

I know you where out of town this weekend.  When you return and have a chance, can you please provide an image of the issue you where having?

I have ran into a similar blank issue on a machine that was out of date and have made a few modifications to help address the issue, but I did also find out that some of my dependencies where either missing or out of date.   So if  you pul

[2021-03-16 21:46] jeffreyswiggins commented on #52
So first I looked a the new documentation after I pulled the 2.10.4 and noticed your photos show a nice almost PLEX themed interface at the http://ipaddress/settings.login.php and i get this  After setting my plex server and client configuration in it I get this at the main http://ipaddress/Maybe I have out of date PHP or missing something but here is the PHP I have installed that works the old ma

[2021-03-16 22:11] ZeroCoolGOS commented on #52
@jeffreyswiggins

Yes, the new admin interface does look similar to the plex admin interface, but we have been changing out the colors and changing the design as we cannot use some of the same design elements.

If you have attached any images to your last post, the are not showing up.

The old "master" branch has older dependencies and they have been updated in the dev branch, and a few more shoul

[2021-03-16 22:40] jeffreyswiggins commented on #52
So I am doing the curl command to pull you entire dev branch and then copying that over to /var/www/html/pmpd-dev/ folder which is my test folder.  Then I set the permissions and ownership per your instructions.  End result is that funky white config/login and X pages.

Jeffrey Wiggins
(918) 609-5934 - Home
(918) 809-1398 - Cell
***@***.***
On Mar 16, 2021, 17:12 -0500, Geoff S. ***@***.***>, wrot

[2021-03-16 22:50] ZeroCoolGOS commented on #52
Interesting.  I had not tried to use it in a subdirector before.

I have tested it out and copying the files to the subfolder seems to work correctly.

I did get a white screen after I logged in, but then once I refreshed my permissions and did a page refresh things displayed fine.

I am not seeing the funky white config/login and X pages you mentioned.

[2021-03-16 23:24] jeffreyswiggins commented on #52
I will tar up my current master and then wipe and replace it with this and see if being in that folder fixes it.  Does it need to be in the Plex-Movie-Poster-Display named folder?  I shortened that to pmpd in my world cause it was a lot to type....

Jeffrey Wiggins
(918) 609-5934 - Home
(918) 809-1398 - Cell
***@***.***
On Mar 16, 2021, 17:50 -0500, Geoff S. ***@***.***>, wrote:

[2021-03-16 23:26] ZeroCoolGOS commented on #52
No it does not.

I always have it in my root folder (var/www/html) so the only time I have it in "Plex-Movie-Poster-Display" is in my git folder.

[2021-03-16 23:52] jeffreyswiggins commented on #52
So attached are the photos i tried to put in earlier of the login.php , the main page, and then the php version page

![login php](https://user-images.githubusercontent.com/29712548/111394467-cabd2600-8688-11eb-8326-ea0b266474b9.png)
![main page](https://user-images.githubusercontent.com/29712548/111394469-cabd2600-8688-11eb-9ab1-28c552a3416f.png)
![php](https://user-images.githubusercontent.com/2

[2021-03-16 23:56] ZeroCoolGOS commented on #52
interesting, that looks like its a CSS issue, as it should be loading that file.

can you confirm that you have the following two files:
"var/www/html/pmpd-dev/assets/plexmovieposter/css/SettingsStyle.css"
"var/www/html/pmpd-dev/assets/plexmovieposter/css/DisplayStyle.css"

[2021-03-17 00:08] jeffreyswiggins commented on #52
Yes. i have those.... so i just tar'd and archived up my files in /var/www/html/ and then wiped the folder clean.  I put a new set of the 2.10.4 code directly in /var/www/html/ and did the perms and ownership and viola the CSS problem seems to be fixed as the page looks like it should and is coloful.... will start testing adding my configurations and then see if it works.... guess a subfolder is a

[2021-03-17 00:09] ZeroCoolGOS commented on #52
If you want to write up a feature request for that then we can put it in the backlog for something to look into.

[2021-03-17 00:16] jeffreyswiggins commented on #52
So after testing its works as expected for COMING SOON and NOW SHOWING....... where do i get font files from? Just standard font files downloaded from google that i upload to it?

[2021-03-17 00:18] ZeroCoolGOS commented on #52
I usually get it from https://famfonts.com/

but ya, you can google and download.  If its a single file it currently only supports ttf files. but if you upload in a zip file then any of the standard webfonts should work.

I you use the link I provided you get a zip file so you can just use that to upload the font you like.

[2021-03-17 00:25] jeffreyswiggins commented on #52
interesting.... downloaded the Mandalorian as it was teh first on their page i saw i liked... uploaded and the page went white and is just sitting for over a minute no update or result.  I uploaded the zip file.... do i have to restart something afterwards?

[2021-03-17 00:27] ZeroCoolGOS commented on #52
There should not be anything that you need to restart.

when you upload the font it should unzip it and show a sample on the font page.

[2021-03-17 00:28] ZeroCoolGOS commented on #52
Did you install php-zip?

[2021-03-17 00:44] jeffreyswiggins commented on #52
no i did not.....

[2021-03-17 00:45] ZeroCoolGOS commented on #52
Then that would be the problem.  The Font system requires php-zip to be installed as a dependency.

[2021-03-17 00:54] jeffreyswiggins commented on #52
whoop there it is......

[2021-03-17 01:32] #52 closed

[2021-03-19 01:49] titelies commented on #39
@ZeroCoolGOS  Changed the transition time back to 30 secs. as recommended. Seemed to be better but still had an odd reset.
https://i.imgur.com/p6y5CG3.mp4  Wonder if transition time for Coming Soon and Now Showing could be customized separately.  Now that I have changed it to 30 secs. the posters for Coming Soon don't show enough for a person that has a large Plex collection. Had to change it back

[2021-03-19 02:03] ZeroCoolGOS commented on #39
Interesting that it would jump mid time.

Yes.  I am splitting the transition time for Coming Soon and Now Showing.  I am targeting the PR for that sometime in the next day or two.

I will still try and keep an eye out for this scrolling issue and see if we can smooth it out in future builds.

[2021-03-20 00:08] ZeroCoolGOS opened #57 "Enhancement: Full Screen Poster"
Add option to do a 'Full Screen' poster.

Disabling all text and taking over full 'Portrait' mode.

Similar to one used in the wild.
![su2w9nu0kjj31](https://user-images.githubusercontent.com/33594517/111852827-b6219d80-88d5-11eb-821d-749bf0bf409d.jpg)

[2021-03-20 00:15] titelies commented on #57
Great idea @ZeroCoolGOS

[2021-03-20 00:18] titelies opened #58 "Cache Images Enabled but Posters disappearing"
I have Cache Images enabled but it seems that posters automatically get removed after 24 hours.  I noticed that my poster statistics numbers sometimes go down... I don't need it to automatically remove them (64GB SD card), the clear cache button is a worthwhile option if I needed space.

[2021-03-20 00:21] ZeroCoolGOS commented on #58
Yes, by design it does have a 24hr removal for cache images.

[2021-03-20 00:29] titelies opened #59 "Enhancement: Multiple IP Clients for Now Showing"
I have always hoped that one day PMPD would work with more than one Client IP address for Now Showing. It's very rare that PLEX is being used at the same time in my household. It would be great to have the ability to add multiple client IP Addresses (whether separated by comma or semicolon) so that if anyone of those devices were playing something on Plex than Now Showing would display that poster

[2021-03-20 00:31] titelies commented on #58
Are cached images beneficial to PMPD or not really? not sure why the 24 hour removal is necessary...

[2021-03-20 00:36] ZeroCoolGOS commented on #59
This is interesting, but could be tricky depending on what data is passed as part of the API.

I am not sure if it supported multiple clients in the past.  @MattsShack  could shed some light on that.

The only thing that is restricted is the field length from the changes I made.  We can look at expanding that field and trying it out.

I have a feeling that would not be based on IP but based on lat

[2021-03-20 00:39] ZeroCoolGOS commented on #58
@MattsShack can provide more information the caching and 24hr removal.

But from what I am to believe is that it is meant to help speed up the load on poor WIFI connections, so that a local copy is faster to load.

That being said.  The way I have it implemented is that its more of a client/server model so that I have one backend and running on multiple browsers on multiple devices.

[2021-03-20 00:45] titelies opened #60 "Custom Images Upload Info"
I believe the Custom Images Configuration page would benefit from displaying a minimum and/or maximum pic size requirement and/or max file size requirement for uploads.

[2021-03-20 00:48] MattsShack commented on #58
@ZeroCoolGOS is correct. The cache image feature itself was meant to help with poor image loading over WIFI connections.

The intent of the cache image 24 hour removal was to free up storage space on the SD card, as well as remove old images that my have been updated or changed in Plex.

[2021-03-20 00:48] ZeroCoolGOS commented on #60
Its defintly something we can look at.

In the next PR there will be some more updates to the custom Images configuration page to support a zip of images to be used in the page so single images do not need to be uploaded independently.

[2021-03-20 00:52] MattsShack commented on #59
The system was not designed to be used with multiple clients. The feature has been requested a few time, however @ZeroCoolGOS is correct... it is tricky... Maybe sometime in the future :).

[2021-03-20 00:52] titelies commented on #58
Can that be set as optional or set to delete at a certain capacity? I have a 64GB card and would prefer to cache as many as possible... Just a thought! Thanks for the reply @MattsShack  Hope all is well with you!

[2021-03-20 00:56] ZeroCoolGOS commented on #58
I can look at what it would take to allow for this to be an option.

[2021-03-20 00:57] titelies commented on #59
Pretty sure all those requests were mine... LOL! Thanks again Matt, looking forward to it one day!
![bitmoji](https://sdk.bitmoji.com/render/panel/7e19c9c7-b063-4211-a5e5-e757ac801a00-9c976e62-8da9-4ee7-9e9f-f2753c26292e-v1.png?transparent=1&palette=1&width=246)

[2021-03-20 00:59] ZeroCoolGOS commented on #59
@titelies
In the meantime you could run multiple instances of the site, one dedicated per client.

[2021-03-20 15:03] titelies commented on #39
Adding the separate transition times has solved the jitter issue for scrolling Now Showing Summary Text and I am also able to use Coming Soon with a quicker transition speed to show the many posters available on my Plex server. Thanks Geoff! @ZeroCoolGOS

[2021-03-20 15:03] #39 closed

[2021-03-20 16:43] ZeroCoolGOS commented on #39
Good to hear.

[2021-03-20 16:45] ZeroCoolGOS commented on #35
@Bboy486

If this is now working for you we can now close this ticket. 😃

[2021-03-20 16:48] ZeroCoolGOS commented on #27
@Bboy486

We have made a few more releases.

Once you have a chance to update, please let us know if your background is working correctly now.

Thank you

[2021-03-20 16:50] ZeroCoolGOS commented on #38
@MattsShack

Any more thoughts on font or colors?

I still have tweaks to make in the backend.

What other changes would you like to see?

[2021-03-20 22:08] Bboy486 commented on #27
I am updated but I am just getting a black screen.

Steps
cd
cd Plex-Movie-Poster-Display
sudo git checkout dev
sudo git pull
sudo cp -R * /var/www/html

cd /var
cd www
cd html

restore config.php from local folder

sudo chmod -R 774 /var/www/html/
sudo chown -R pi:www-data /var/www/html/

I should note this is the same pi that is running Pihole/PiVPN. Pihole uses the html folder as well but hasn'

[2021-03-20 22:10] Bboy486 commented on #35
Close this one. I commented in the other thread.

[2021-03-20 22:10] #35 closed

[2021-03-20 22:12] ZeroCoolGOS commented on #27
@Bboy486

Yes. another user has also reported an issue with a black screen.   I am working on a fix and hope to have it ready this afternoon.

If you don't want to wait. It seems that if you reenter your config information clean then it will be fine.

[2021-03-20 22:15] titelies commented on #27
@Bboy486 I got the black screen as well when updating to the latest 2.10.5 and restoring my config. I had to redo the 2.10.5 update but then I manually put all of the config entries and now I'm working successfully with 2.10.5. I believe it's something with importing the saved config file. 2.10.4 works for me with importing the config file.

[2021-03-20 22:17] ZeroCoolGOS commented on #27
I believe it has to do with the refresh values that went into 2.10.5. I have a fix in the works and am trying to test/duplicate with an older config.

[2021-03-20 23:07] Bboy486 commented on #27
I tried this and it did not work.

Also checkboxes for caches images and any changes need to be checked, saved, checked again as it is not registering on save.

[2021-03-20 23:22] ZeroCoolGOS commented on #27
The changes are taking the first time.  There is a bug when the page reloads after a save, that the change is not reflected right away.  A second reload of the page will yield the correct values.

I still have not found a fix for this issue.  I believe it might have something to do with the growing number of options we have, and we may need to look at moving to a new file type for the config value

[2021-03-20 23:25] ZeroCoolGOS opened #62 "Bug: Config values how showing correctly on Save"
There is an issue with when you save the changes to config.php, the page reloads and shows the old values.

Review if the PHP config file is getting to large and if its a timing issue.

Possible move from config.php to a xml or json config format in future release.

[2021-03-21 01:53] ZeroCoolGOS opened #63 "Enhancement: Cache Config Page"
Create a config page to be used to control the config paths more.

Allow to custom change paths for individual cache types and to Enable/Disable 24hr cache cleanup.

[2021-03-21 07:16] ZeroCoolGOS opened #64 "Enhancement: Plex Function Isolation"
Isolate Plex functions into the PlexLib.php.

This will allow for future expansion to other media servers.

[2021-03-21 19:37] MattsShack commented on #38
Sorry, I am still reviewing. Let me get back to you this week. Thank you for all the hard work.

-Matt

[2021-03-21 20:50] ZeroCoolGOS commented on #38
No worries.

I have a few more changes coming in the next few days.

[2021-03-23 03:13] titelies commented on #58
Stellar!

[2021-03-23 03:13] #58 closed

[2021-03-23 03:20] titelies commented on #63
@ZeroCoolGOS Excellent job on all of the cache options. After update, the only field that was blank for me on the Common Configuration > Cache Configuration was the Location for Custom Fonts, should i type in the field box "cache/fonts/" ? Similar to what is shown in the other fields on that page... See screenshot: https://i.imgur.com/gDoCkXw.png

[2021-03-23 03:21] ZeroCoolGOS commented on #63
Yes. That is because your config does not have that field.

I will look at putting defaults in the fields for next time.

[2021-03-23 03:33] titelies commented on #59
Jaw-Dropped for this!!! KUDOS, works great! Successfully tested. Newest movie to be played from the 3 devices is what gets displayed on Now Showing but I'm fine with that! Huge thanks Geoff, I've been waiting for this feature for a long time!

[2021-03-23 05:05] ZeroCoolGOS commented on #59
Glad it its working for you and you did not have to much of and issue upgrading to 2.11.

I have not fully worked out how the multiple clients works and how the "Client Name" comes into play.  In the future maybe we could add "Client Name" as a 5th option for display if that is something that could be useful.

Still need to do more research.

[2021-03-24 02:15] titelies commented on #63
@ZeroCoolGOS It doesn't seem like the Clear Cache for Art works me. I click the button but all of the background art remains in the folder. When I Clear Cache for posters, it empties that folder.  Also notice the colors of the buttons are different for Background Art and Logs. I have not tried Clearing Cache for Logs cause I wasn't sure if those were important in some way...  https://i.imgur.com/J

[2021-03-24 02:18] ZeroCoolGOS commented on #63
Ah yes.

The different color indicated that these buttons are disabled.

I guess I forgot to enable them.

I will do a quick fix tonight to enable them.

Also the logs are not important. Just used for debugging.  I have left them on by default but I can turn them off if need be.

[2021-03-24 19:08] ZeroCoolGOS opened #67 "Enhancement: Import Config Upgrade Script"
Add a function to when a config file is imported that a review and update is made so that if any fields are missing they are added and populated with the standard default value.

[2021-03-24 19:17] ZeroCoolGOS opened #68 "Enhancement: Setup and Update scripts"
Create set of scripts to Setup and Update your PMPD installation.

Process should be divided into multiple parts.
1. System (Non RPi) - Dependencies
2. System (RPi) - System Config, such as changing display mode, etc..
3. Install of PMPD
4. Advanced Setup: Install Docker and/or Ansible (Server Side)

Updates should run the update dependencies as they may be out of date.
Update should also pull the

[2021-03-25 00:15] ZeroCoolGOS commented on #62
Pause time increased from 2 - 5 seconds post save and reload for proper reload.

[2021-03-25 00:15] #62 closed

[2021-03-25 00:17] ZeroCoolGOS commented on #48
Phase 1 - Complete

Phase 2 - (Still Pending)
- Add metadata read for display of information per photo.
- Add "Folder Name" display and use that as metadata

[2021-03-25 00:19] ZeroCoolGOS commented on #27
@Bboy486

As if 2.11.x I have adjusted the time issue with saving and seeing the changes so now you should be able to save and when it reloads, your changes should be reflected.

[2021-03-25 00:20] ZeroCoolGOS commented on #26
Extension added, but metadata/mime type is missing.

New way to save images from Plex locally to retain the data.

[2021-03-25 13:28] titelies opened #70 "PMPD Pop-up Window with "S" Key"
I recently learned by accident that if I click on the "s" key on my keyboard, a NGINX pop-up window appears. I wonder if that pop-up window can be used for another reason such as metadata info or anything else that someone feels would be worthwhile... Just a thought! https://i.imgur.com/6K3Yr1u.png

[2021-03-25 15:21] titelies opened #71 "Refresh All Metadata for Plex Sections"
So, now that I have been able to disable the 24 hr Expiration of the Cache files for Posters and Art, I noticed that the highest my cache stats would get was 1565 across the 8 sections that I have entered in the Plex Movie Sections field separated by commas. It wasn't until I did a Refresh All Metadata of each of the 8 sections, that now the stats number has increased to 1777 which is a more accur

[2021-03-25 15:47] ZeroCoolGOS commented on #71
This could be that Plex has duplicated some of the IDs for some media. I have seen that.

All we do is just query Plex and use the data that it provides.  If the metadata is out of sync on the Plex Server side, there is nothing we can do.

Other then the cache number, are you getting miss matched display images?

[2021-03-25 15:48] ZeroCoolGOS commented on #70
I remember seeing something in the code about that.

I will look into that today and see what is going on.

[2021-03-25 15:55] titelies commented on #71
Nope, all is good. And the stats number now keeps increasing as expected and I am seeing posters that I have not seen before. Seems like if you add a new section number to the Plex Sections on PMPD, its a good idea to run a Refresh All Metadata for that section on Plex.

[2021-03-25 16:30] tkent42 commented on #48
Thanks, I updated and got it working to show art images full screen! Also having different transition and refresh speeds for different functions is handy.

I noticed that the save changes button on Custom images disappeared and when I uploaded another file it reappeared. Couldn't replicate it.

I imagine using this custom Configuration as a sort of screen saver. It is active showing art then when

[2021-03-25 16:43] ZeroCoolGOS commented on #48
I have made a few changes in my latest PR that should hopefully get approved today that will help with the full screen option.

I still have a few more issues as some images are being cropped based on screen size and orientation.

As for multiple images you can zip them up and upload in bulk.

We do not have a way to have it point to a remote location as that could be a bit complex for security.

[2021-03-25 17:00] tkent42 commented on #48
Ahhh, zip. Thanks that was much easier. I will write that up, thanks again.

[2021-03-25 19:09] tkent42 opened #72 "Enhancement: Options for transitions between Now Playing/Coming Soon/Custom"
As my media area is also a living room it would be great to use custom Configuration as a sort of screen saver. It is actively showing art, then when I start playing media it switches to Now Showing then when I stop media it switches to Coming soon. Then after another period of time it goes back to art.

- Toggle for Now showing to interrupt Custom Configuration
- Toggle option for what function o

[2021-03-25 19:42] ZeroCoolGOS commented on #70
I have identified the issue with the 'S' option and will have an update for it in 2.11.3.

The reason behind it was to have a popup of the 'admin' page but now I have remapped it to the settings page for now.

In the future we could look at adding different hidden keys is requested.

[2021-03-25 21:36] titelies commented on #57
@ZeroCoolGOS Really looking forward to this working but in 2.11.2 most of the pics posters are cropped incorrectly if not all and every poster is blurred. Definitely can't use this with my vertical 50" TV setup just yet. Looks great on my laptop but I only use that for testing purposes. Let me know if you need to see some screenshots as an example.

[2021-03-25 21:52] ZeroCoolGOS commented on #57
@titelies

Yes I know it's cropping. I am working on a fix for 2.11.3

But if you can provide me with some more examples of this issue that would be great. This way I can see how it's working on other displays as I don't have a large collection to test on.

[2021-03-25 21:57] titelies commented on #63
I corrected the field that was blank for me on the Common Configuration > Cache Configuration > Location for Custom Fonts, I added cache/fonts/ in the field box, it clears all the fonts from my Font Configuration page, but in the /cache/fonts/ directory, all of the folders and files remains. Does that seem correct @ZeroCoolGOS

[2021-03-25 22:08] titelies commented on #57
So a restart of my Pi fixed the every-photo blur, must have been a resolution issue, so it's just the crop issue. Sorry for the confusion.

[2021-03-26 01:07] ZeroCoolGOS commented on #57
No problem.

Blur issue most likely was due to a Shift F5 hard refresh of the browser as that would have cached the CSS change.  But glad the blur is fixed.

Ya, hope to have the resolution issue today or tomorrow, or at a compromise fix until I get what I really want working.

I just hope I don't bug @MattsShack to much with all my PRs. :)

[2021-03-26 01:11] ZeroCoolGOS commented on #63
@titelies
That does not sound correct.

I see that it does not clear the folders (a bug I will look into), but it should clear the fonts.

That is odd that its not clearing it for you.

[2021-03-26 01:19] titelies commented on #63
@ZeroCoolGOS Oh OK. It cleared the files inside the folders but not the folders. No worries, I deleted them manually. I now understand how it works. Thanks for the info.

[2021-03-26 01:25] ZeroCoolGOS commented on #63
Well how it should work is clear out the folders too, but that is not working so I will try and fix it in the next build.

[2021-03-26 02:56] Bboy486 commented on #27
The save seems to work now. I still have a black screen so I cannot test anything else. (on latest dev)

[2021-03-26 04:18] ZeroCoolGOS commented on #27
@Bboy486

Glad to see the save is working for you now, but I don't understand why your not seeing anything when it comes to running.

Its been a while since you have been up and running.  Sorry for that.

Can you provide me with a latest copy of your config (sanitized of your token)?  I will see if there is anything wrong inside the config file for it to be causing you an issue.

Also how many log

[2021-03-26 04:38] Bboy486 commented on #27
Custom Logs: 12
Items in cache/logs

[configsanitized.txt](https://github.com/MattsShack/Plex-Movie-Poster-Display/files/6209412/configsanitized.txt)

[2021-03-26 04:44] ZeroCoolGOS commented on #27
Thank you.

Is this the latest version that comes out of your PMPD after you have made adjustments such as just testing the save?

[2021-03-26 15:22] titelies commented on #70
Love the new feature @ZeroCoolGOS

[2021-03-26 15:28] titelies commented on #57
Crop issue is resolved, however in a vertical environment, the top and bottom are now just empty black bars. On my laptop using  it horizontally, it fits the browser all the way to the top and bottom. Examples on my vertical TV:
https://i.imgur.com/rpoLJmo.jpg
https://i.imgur.com/yTGeSYj.jpg
https://i.imgur.com/Nrfgre1.jpg

[2021-03-26 15:49] MattsShack commented on #70
Nice addition.

[2021-03-26 15:54] ZeroCoolGOS commented on #70
@MattsShack

Lol. Ya. It's a nice feature. You wrote it. I just fixed it with the change to the setting page. 😄

[2021-03-26 15:58] ZeroCoolGOS commented on #57
@titelies

Ya. I get that too.

I am not sure how I am going to fix that just yet as the image might get too stretched out and look odd.

I saw the concept and thought it might work well.  It might just need actual custom resolution images that allow it for full size.

I will still keep playing with it to see what we can do. But if you have any ideas please let us know. :)

[2021-03-26 16:54] titelies opened #74 "Images to the bottom of Now Showing for resolution, sound format, and aspect ratio"
Hoping that at some point PMPD can collect metadata info from Plex that would display resolution, sound formats, and aspect ratio as seen in this example: https://i.redd.it/cb14liq7fxj41.jpg

[2021-03-26 16:55] ZeroCoolGOS commented on #74
Working on it.

I just need to find the assets.

Do you have a link to the assets that we can use?

[2021-03-26 16:56] ZeroCoolGOS commented on #74
And... who's system is that? :)

I would like to check out others systems to get ideas.

[2021-03-26 20:58] #71 closed

[2021-03-26 22:05] #70 closed

[2021-03-27 14:26] #59 closed

[2021-03-30 02:02] ZeroCoolGOS opened #75 "Enhancement: Full Path Logging"
Add logging of media's XML Full Path (PLEX) for quicker identify data.

- PLEX_getMovieMetadata.log
- PLEX_getTVMetadata.log

https://:32400/library/metadata/26127?X-Plex-Token=

[2021-03-30 02:42] titelies commented on #74
Superb work @ZeroCoolGOS I don't know if it needs the "Presented In" text, displays so small both on my laptop and TV, font size doesn't seem to effect the text. The logos should be sufficient and probably could be larger so that the text is legible... WOW dude! My sample images:
https://i.imgur.com/L5qZ4M9.jpg
https://i.imgur.com/RYocbej.jpg

[2021-03-30 02:49] ZeroCoolGOS commented on #74
Yes. The font size does not control that text (yet).

I was not sure if we wanted the "Presented In". I was just following the example provided earlier.

I may add an option to change or disable the text.

The images are a bit small on display as they are scaled at 20% so I can increase them easily.

I still have some more metadata to get but some info has been a bit difficult to read.

If there i

[2021-03-30 03:15] titelies commented on #74
Thoughts on the use of these MPAA logos that are available for download for use as long as it's not for commercial use: https://www.brandsoftheworld.com/logo/motion-picture-association-of-america-r-rating
https://www.brandsoftheworld.com/logo/motion-picture-association-of-america-pg-13-rating
https://www.brandsoftheworld.com/logo/motion-picture-association-pg-rating
https://www.brandsoftheworld.co

[2021-03-30 04:11] ZeroCoolGOS commented on #74
That is an idea.  I had thought of it. But did not have this link.

I custom made these ones so that it would have a more consistent look, feel and size.  Including support for TV show ratings.

[2021-03-30 04:33] titelies commented on #74
Completely understand and appreciate all you've done. Was hoping to cut some work for you but I get it... Consistency and similar size should make it easier for other adjustments.

[2021-03-30 04:38] ZeroCoolGOS commented on #74
I have also included a template file so I can pump out updated and new icons fast 😄

[2021-04-01 14:35] titelies commented on #74
@ZeroCoolGOS I am able to adjust "PRESENTED IN" Font Size with new 11.5 update, nice work on the audio icons!!! This time the icons appear to be too large and I saw from your update info that you are still looking into the spacing issue. Hope this is helpful info to you: https://i.imgur.com/fZVGpuI.jpg

[2021-04-01 15:00] ZeroCoolGOS commented on #74
@titelies
Cool.

I will adjust smaller.  I will even look at the idea of giving control of the size to the users in the future.

If you want you can adjust it yourself in the DisplaySettings.css file.

As for the spacing I had a few more options that had been coded but not working yet so have been disabled and the way the images where spaced was not even so I have them up against each other. I am

[2021-04-01 15:34] titelies commented on #74
@ZeroCoolGOS I couldn't find a DisplaySettings.css file, did you possibly mean the DisplayStyle.css file, to change the width percentage:
@media screen and (orientation: portrait) {
    .showMetadata img {
        width: 40%;

I checked it on my laptop in landscape and the icons look like this: https://i.imgur.com/UShQPve.png

[2021-04-01 15:36] ZeroCoolGOS commented on #74
Yes. I forgot what I had named it. Lol

[2021-04-01 16:31] titelies commented on #74
@ZeroCoolGOS Tried changing the width percentages for both the landscape and portrait for the .showMetadata img but it had no effect on my TV display in portrait or my laptop in landscape.

FYI: It seems like PMPD displays the icons for the default audio and video metadata. It doesn't actually display the correct audio of what is currently selected and playing on the client, I have the movie playi

[2021-04-01 16:37] ZeroCoolGOS commented on #74
Ah.  After adjusting the css you may need to do a force refresh of the browser for it to update.

As for the "now playing". Yes, I know there is a bug there. I would like to fix it in the next few days if possible. It's just trying to get the right data from the API.

How do you have separate audio files from your video files?

[2021-04-01 17:22] titelies commented on #74
As usual @ZeroCoolGOS ... you are correct the Force Refresh worked, I was able to set Landscape to 12% and Vertical to 30% which looks better for my TV setup. Thank you.

I process my Blu-Ray discs with MakeMKV and then HandBrake the file to have a Stereo, 5.1, and 7.1 audio file for most of my collection. Stereo files work great for most of my clients, and then I use the 5.1 file in my living roo

[2021-04-01 17:29] ZeroCoolGOS commented on #74
@titelies

That is pretty cool.  This year I will need to up my Plex server game and be able to hold that amount of data. 😄

Would you be able to send me a copy of the XML for one of￼ those media titles so I can review the information and see what changes I would need to make?

[2021-04-01 20:24] titelies commented on #74
Just a thought @ZeroCoolGOS ... spacing can be forced by editing the current icons to be layered over a larger black rectangle that is a few pixels larger on all 4 sides. I will get you an XML for a media file.

[2021-04-03 21:32] titelies opened #79 "Coming Soon All or Unwatched not displaying Series Posters Anymore"
Not sure if it was a Plex Media Server update or PMPD 2.11.6 but Coming Soon... All or Unwatched no longer showing TV Show Series posters, just blank where the image should be while showing the Top and Bottom Titles.

[2021-04-03 21:34] ZeroCoolGOS commented on #79
That is odd.

2.11.6 should not have caused anything like that.

I will test it today.  But I have not updated my Plex server recently.

[2021-04-04 00:32] ZeroCoolGOS commented on #79
Ok.

I can recreate the error and kind of have an idea as to what is happening so I will try and make a fix this evening or tomorrow.

[2021-04-05 01:53] titelies commented on #79
Thanks for the fix @ZeroCoolGOS

[2021-04-05 01:53] #79 closed

[2021-04-05 13:45] titelies opened #81 "Remove Cinema trailer and Movie pre-roll Image before Now Showing poster"
I have Plex Cinema Trailers and Movie pre-rolls enabled in the Plex Media Server > Extra setting.
When the trailer and pre-roll play before the movie starts, PMPD3 will display a horizontal background trailer/pre-roll image as seen in the screenshots below. Is there a way to not display those in PMPD3? In PMPD2, it would continue to show Coming Soon posters until the actual film started playing an

[2021-04-05 17:37] ZeroCoolGOS commented on #81
Is there a way?  No.
But it's something we can look into.

It might be a bit tricky depending on what data is passed from PLEX.  Based on the data that is provided there is an isPlaying state and we pick up the metadata from that.

We will have to review and see the API provided and instead of continuing to show coming soon we may be able to jump to the now playing poster. That might be the easier

[2021-04-05 18:51] ZeroCoolGOS commented on #81
@titelies

After some review of the code.  It does not look as complicated as I had expected.  I should be able to get this adjusted within the next release.

But, we wont be able to jump to the 'Now Playing' as I had hoped so it will just stay with the coming soon until the movie or show starts.

[2021-04-06 02:45] archiconda1976 opened #82 "Add support for field variables in custom text settings to allow displaying media info along with custom text"
Consider adding variable parsing to the custom text entry field.  This will allow customizing the display.  Use case I was thinking of was displaying the current series name on one line, with a single line break tag and then the episode name on a secondary line.  Currently selecting the episode in advanced option will show the episode name, but the cover art will be a screen shot from the episode

[2021-04-06 02:58] archiconda1976 opened #83 "Add a start and end time display option for the now showing display"
Add a start and end time display option to the top or bottom line, as shown here:

![image](https://user-images.githubusercontent.com/82009380/113651980-98d02b80-9658-11eb-99af-4c688fbed01a.png)

Could possibly add as an alternative display mode to the progress bar display?

Start time can be found using the timeStamp:
[code]

[2021-04-11 20:36] titelies commented on #81
Thanks for another stellar fix @ZeroCoolGOS

[2021-04-11 20:36] #81 closed

[2021-04-20 05:26] Bboy486 commented on #27
yes it is

[2021-04-20 05:54] ZeroCoolGOS commented on #27
@Bboy486 I will try and re-review this issue over the weekend and get back to you.

There is most likely a new build that you may want to take.

[2021-05-02 20:00] ZeroCoolGOS commented on #38
Hey @MattsShack

Sorry I have been MIA for the past few weeks.  I just started a new job and been spending all my time at that.

Have you had a chance to see what new changes you are looking for so we can look at closing this ticket?

I hope to jump back on the project in the next few weeks and hope to help clear up the backlog of issues that we have to a much smaller amount by the summer.

[2021-05-02 20:06] ZeroCoolGOS commented on #83
@archiconda1976

This looks like a pretty cool idea, and I would like to look into this.  The only thing that I can think of is that if you have a movie or show that you are resuming, do you care to see that the "start time" is not when you actually started the media or just have a calculation of what the start time would be relative to the current position of the video?

So for example if you sta

[2021-05-03 02:09] archiconda1976 commented on #83
I was always more interested in the end time, it seemed like the code above produced the expected text. I just hacked it in as "always used" and wasn't sure how best to integrate it in as a display option.  I can create a fork and push my proto code if it would help, it isn't much more than the code snippets shown above.

For the start time, I don't have a strong preference.  I picked the timestam

[2021-05-03 03:15] ZeroCoolGOS commented on #83
Cool.

I will do some research and hopefully have something implemented next week sometime.
I would have gotten to this sooner but my time to this project has been dramatically reduced over the past month but I hope to get back to some support shortly.

[2021-05-04 01:05] MattsShack commented on #38
@ZeroCoolGOS Welcome back. :)
Congratulations on the new job!

[2021-05-04 01:05] #38 closed

[2021-05-15 23:56] ZeroCoolGOS opened #85 "Progress Bar not displaying correctly"
Progress bar not displaying correctly if font size is too large.

[2021-05-24 12:49] titelies commented on #85
@ZeroCoolGOS Hey Geoff, I think there may be an issue with the progress bar when playing a personal home video from Plex instead of a movie. I believe the bar and font are fine when playing a movie and the PMPD poster is displaying in portrait mode. However,  I quickly noticed the other day that the progress bar didn't run the full length of the TV display while in portrait mode and it also had an

[2021-05-24 16:58] ZeroCoolGOS commented on #85
@titelies

Yes please, if you can get me some examples of the issue that would be great.  I made a few more changes to the progress bar in 2.12.1 (PR pending) as well so hopefully it was a one off.

[2021-05-24 17:00] ZeroCoolGOS commented on #85
@titelies

2.12.1 has been merged so ready to try.

[2021-05-24 23:39] titelies commented on #85
Issue resolved with 2.12.1 @ZeroCoolGOS

[2021-05-24 23:44] ZeroCoolGOS commented on #85
Sounds good.

I was playing with the size of the progress bar and how it displayed.

One idea was to only have it the length of the art but not sure if that would work out.

I hope to offer a few more options with the progress bar, such as the start and end time.

I have also been looking at a different but similar project for other ideas as well.

If you have more ideas on features or changes. Pl

[2021-05-24 23:48] ZeroCoolGOS commented on #83
@archiconda1976

We have added this feature in the latest version (2.12.x).

Please let us know if it's working as per your request.

With how we are doing this, I have been thinking of different ways to display the information in the future.

[2021-05-29 22:58] ThePragmaticArt opened #88 "Enhancement: Gaussian Blur Text Background"
Currently, the font color of text is configured as a static value making the outline the only way to distinguish the text from the background poster colors from a contrast ratio perspective (note white on white or black on black can be extremely unfriendly depending on the font used). Gaussian Blurs and other background blending techniques can be used to guarantee a darker/lighter background for t

[2021-05-29 23:32] ZeroCoolGOS commented on #88
This is an interesting idea.

Do you have any sample screenshots or links?

[2021-05-29 23:32] #85 closed

[2021-05-29 23:47] thecodingarts commented on #88
Absolutely, here are some examples I was able to pull fairly quickly (note the same effect can be found all over macOS's menus like the quick app switcher).

The first screenshot shows a gaussian blur being used, the second is a gradient blend with a gaussian blur as well. This post may help with some other techniques/options: https://blog.iamsuleiman.com/techniques-to-display-text-overlay-backgro

[2021-05-31 01:18] ZeroCoolGOS opened #89 "Plex Movie Sections"
Add support for "Text" defined sections.
[code]
Allow for cross reference name and capture other information.

Rename field from "Plex Movie Sections" to "Plex Media Libraries"

Future; Possible Pre-read and Mulit select (dropdown?) of libraries for availability?

[2021-05-31 03:54] MattsShack commented on #89
This has been on my to-do list for way to long. 😕👍

[2021-05-31 03:58] ZeroCoolGOS commented on #89
If you look at posterr, he has it working. So I just need to figure out the storage logic but the read should be pretty simple.

[2021-05-31 15:13] titelies opened #90 "Raspberry Pi Updates - Back to Welcome to nginx page"
Ran updates on my Raspberry Pi and now this morning after turning on TV display, it's back to the Welcome to nginx page and displaying that further configuration is required... 🤦‍♂️ Any help would be greatly appreciated!
[PXL_20210531_150118346.jpg](https://user-images.githubusercontent.com/16294530/120212283-c6bc9100-c1ff-11eb-89d3-2e304e9428fb.jpg)

[2021-05-31 15:47] titelies commented on #90
So, I just realized that my laptop is still displaying the PMPD posters if I go to the web address... thinking one of the updates must have changed my kiosk setup. Will have to look into it when I get some time.

[2021-05-31 23:08] titelies commented on #90
Had to edit the following:
sudo nano /etc/xdg/lxsession/LXDE-pi/autostart

Needed to revise the address: (previously was using http://localhost)
had to change it to http://192.168.1.1/index.php

/usr/bin/chromium-browser --kiosk  --disable-restore-session-state http://192.168.1.1/index.php
Now, it's working again, if I leave it http://192.168.1.1 (without the index.php) it will go to the Welcome t

[2021-06-03 15:03] MattsShack commented on #90
Thank you @titelies . I updated the site(s).

[2021-06-07 18:41] #90 closed

[2021-07-12 12:27] Jacksaur opened #91 "Poster Statistics incrementing, permanent blank screen regardless."
Installed the latest Dev version this morning on a fresh Pi Zero W, and whilst the server itself seems to be running fine, I can access all settings and the Poster statistic constantly counts up, nothing is ever displayed. No text, no posters, neither when the server is idle or currently playing media.
I've messed around with various settings whilst reading through issues here, setting fullscreen,

[2021-07-24 00:46] titelies opened #92 "New Plex Media Server Update Broke PMPD3"
Just updated my Plex Media Server to the most recent version Version 1.23.5.4862.
I no longer install BETA updates, this is a PMS release. [https://forums.plex.tv/t/plex-media-server/30447/448](url)
I just get a black screen on both my laptop and TV display now.
Not sure what happened. Hoping I can revert PMS to an older version, need to investigate how I can do that...

[2021-07-24 02:38] bystand3r commented on #92
I think it broke most peoples plex server. If you experiencing DB is locked error in logs revert to old version. Devs working on patching issue.

Sent from my iPhone

On 24 Jul 2021, at 8:46 am, titelies ***@***.***> wrote:

﻿

Just updated my Plex Media Server to the most recent version Version 1.23.5.4862.
I no longer install BETA updates, this is a PMS release. https://forums.plex.tv/t/plex-med

[2021-07-26 16:41] titelies commented on #92
@bystand3r Thank you for the info. You were absolutely right, Plex has fixed the issue today on their end. All is well with PMPD3 and Tautulli

[2021-07-26 16:41] #92 closed

[2021-08-22 22:22] ZeroCoolGOS opened #93 "Enhancement: Settings page mobile friendly"
Update the settings page to be mobile friendly.

[2021-08-27 02:31] 1upmushroom commented on #91
Same exact issue, followed directions to a T.

[2021-08-31 03:54] TATUMTOT commented on #91
Same issue.

[2021-08-31 03:56] TATUMTOT commented on #91
Also don't see any Cached Data being placed from the plex server.

[2021-08-31 04:25] ZeroCoolGOS commented on #91
Would it be possible for you to upload your config files (sans token) so I can look over the config files to see if there is an issue from that end.

Also please send a copy of the log file for review.

Are you using a PiZero for just the server or display? Have you tried to connect to it from a different system and ￼browser?

[2021-08-31 05:58] TATUMTOT commented on #91
Using a Pi4 for both server and client at this time. Was going to put three or 4 of these up in the theater room.

Just saw this in the backup config.
   $plexServerSSL = '1'; // Default: FALSE
This probably should be True and not 1 but i'm not sure going to swap SD card and try again with this manually changed to True.

// Plex Configuration
  $plexServer = '10.0.5.100';
  $plexServerDirect = '';

[2021-08-31 06:05] TATUMTOT commented on #91
<?php
  // PMPD Configuration
  $pmpConfigVersion = '2.10.7';
  $pmpUsername = 'admin';
  $pmpPassword = 'password1';
  $pmpClearImageCache = 'Yes'; // Default: Yes
  // $pmpImageSpeed = ''; // Default: 30 (Seconds)

  // Cache Configuration
  $cacheEnabled = '1'; // Default: TRUE
  $pmpPosterDir = 'cache/posters/'; // Default: cache/posters/
  $pmpPosterDir_24hExp = '1'; // Default: TRUE
  $pmpAr

[2021-08-31 06:07] TATUMTOT commented on #91
I only have 2 logs

getCachedfile.log

24hr Cache Clear: cache/posters/
24hr Cache Clear: cache/art/

getMedianURL.log

Plex Session URL: https://10-0-5-100.ASDF.plex.direct:32400:32400/status/sessions?X-Plex-Token=ABCD
Session URL: https://10-0-5-100.ASDF.plex.direct:32400:32400/status/sessions?X-Plex-Token=ABCD

DNS/TOKEN SANITIZED.

[2021-08-31 06:11] TATUMTOT commented on #91
Here is the Full Config.

https://pastebin.pl/view/a46624c4

[2021-08-31 07:12] ZeroCoolGOS commented on #91
Thanks for the config. I will try and see if I can reproduce the issue this week.

[2021-08-31 14:58] TATUMTOT commented on #91
Also the Login does not look like the examples. the app shows 2.13.0.

![image](https://user-images.githubusercontent.com/11933561/131525762-ea8d63b2-4c96-491b-bd4a-fb9874313ee8.png)

[2021-08-31 14:59] TATUMTOT commented on #91
Here is the Data when Trying to use the command above from the original Commenter.

PHP Warning:  include(/assets/plexmovieposter/tools.php): failed to open stream: No such file or directory in /var/www/html/assets/plexmovieposter/getPoster.php on line 3
PHP Warning:  include(): Failed opening '/assets/plexmovieposter/tools.php' for inclusion (include_path='.:/usr/share/php') in /var/www/html/asse

[2021-08-31 15:08] ZeroCoolGOS opened #95 "Update Website screenshots"
@MattsShack We should update the website as some of the screenshots are out of date.

I will go through the page in the next week or so and generate new images for you to link to.

[2021-08-31 15:10] ZeroCoolGOS commented on #91
Thank you for bringing up the screenshot difference.  I have created a new issue to address the outdated images.

[2021-08-31 15:13] ZeroCoolGOS commented on #91
Interesting.  Since all my development and running has always been in a docker image I have not ran it directly on a none fresh image.

I will also attempt that as part of my testing this week.  And try to recreate the issues you are having so we can get a fix out.

[2021-08-31 15:14] TATUMTOT commented on #91
THANK YOU SO MUCH!!

[2021-08-31 15:34] MattsShack commented on #95
Yes. I was just thinking about this.

I have a few other changes, clarifications, that also need to be made.

[2021-08-31 16:03] ZeroCoolGOS commented on #95
Sounds good. Let me know if you need anything for it.

[2021-09-06 23:58] ZeroCoolGOS commented on #91
I am trying to do an install on a "dirty" Pi Zero to see if I can recreate some of the issues that have been reported.

@TATUMTOT I have taken your config and applied it to my working system and its working fine, so I don't believe its a config file issue.

Has anyone tried to hit the PI's IP address to see if its displaying the poster remotely?

[2021-09-07 00:18] TATUMTOT commented on #91
Yes I have tried that I get a blank page unless I'm going to the config page.

[2021-09-07 00:18] TATUMTOT commented on #91
Black page!

[2021-09-07 00:30] TATUMTOT commented on #91
![image](https://user-images.githubusercontent.com/11933561/132267911-dcfc5157-92cc-4f14-9374-af700e26f815.png)

[2021-09-07 00:31] TATUMTOT commented on #91
![image](https://user-images.githubusercontent.com/11933561/132267952-f4c222e2-c383-4680-bf1a-d3ee4a270290.png)

[2021-09-07 04:05] MattsShack commented on #95
I have updated the website. I am not sure I am %100 happy with it yet, but it is a start. :)

[2021-09-07 04:51] ZeroCoolGOS commented on #95
Sounds good.

I will have a look. There is also some documentation I did in the docs folder for the installation. With some screen shots as well.

I will also try and up date it with more.

What things are you not liking?

[2021-09-07 17:47] MattsShack commented on #95
I think it looks good. lots of good information that I should copy to the website.
Do you think we should consolidate to a single location so it is easier to keep up to date? For example on the website or GitHub?

-Matt

[2021-09-11 20:20] TATUMTOT commented on #91
@ZeroCoolGOS do we have an update. Or what can I do?

[2021-09-11 20:22] ZeroCoolGOS commented on #91
@TATUMTOT

Sorry I not have any work around for you as of yet.  I have not been able to recreate the issue yet.  I still have more testing to do.  But was able to get installed on a dirty system with still no issue.

[2021-09-11 20:24] TATUMTOT commented on #91
@ZeroCoolGOS what base os are you running? Also I'm willing to do a remote session and get you connected so you can see my side.

[2021-09-11 20:42] ZeroCoolGOS commented on #91
@TATUMTOT I have been running on raspian on bare metal and Debian in the docker image.

Let me do a bit more testing and then we could also look at a remote session sometime to try and figure it out.

[2021-09-13 21:15] Jacksaur commented on #91
I cannibalized the SD card from my Pi for another project temporarily, but if it helps, I can reinstall and see if the problem still occurs for me too, if you think that may help.

[2021-09-13 21:25] TATUMTOT commented on #91
I'm was going to try the full os vs just the desktop version just incase we are missing something.

[2021-09-14 07:09] TATUMTOT commented on #91
Ok I have fully reinstalled and stated over Following the Guide. We still have the issue But I went through all settings. I was able to get the Custom Image and text to display. So now that leads me back down the path of a connection issue to Plex.

Here is the basic modifications. That I have done.
Non Standard Public port.
Custom token was generated for this APP
Encryption is Required
Strict TLS

[2021-09-14 07:13] ZeroCoolGOS commented on #91
@TATUMTOT
What do you mean "Custom token was generated for this APP"?

The token should be from your Plex server and would have only been generated on Plex installation.

Also is your Plex and your Poster system on the same network?

[2021-09-14 07:18] ZeroCoolGOS commented on #95
Sorry just saw this update. Yes. I think we should consolidate into the git repo as it would always be the source of truth. Also that way we can contribute and fix issues with documentation.

[2021-09-14 07:18] TATUMTOT commented on #91
Custom token = https://gist.github.com/fleXible/709e4583086b926646cb5304361693b4

Plex Server is not on the same local network. It is on another Subnet but has Full access and nothing is restricting Traffic the to the 2 Subnets.
The Second Test Plex Server is on the Same Subnet Though.

@ZeroCoolGOS

[2021-09-14 07:21] ZeroCoolGOS commented on #91
That would not be the correct token.

It should be a 20 (or so) AlphaNumeric string.

[2021-09-14 07:24] ZeroCoolGOS commented on #91
@TATUMTOT

https://github.com/MattsShack/Plex-Movie-Poster-Display/blob/dev/docs/PlexData.md

see finding the token in this doc.

[2021-09-14 07:28] TATUMTOT commented on #91
@ZeroCoolGOS Yep Same thing Just not a Shared Token like when you take it out of your Browser windows like in the documentation.

This is how I have all third Party integrations configured. I have never had a problem.

[2021-09-14 07:31] TATUMTOT commented on #91
@ZeroCoolGOS
![IMG_0459](https://user-images.githubusercontent.com/11933561/133214613-ad20c69a-b9c0-4432-94f8-2a70e047832d.jpg)

[2021-09-14 07:33] ZeroCoolGOS commented on #91
@TATUMTOT

No.  Sorry.  This system is not a registered component of plex and needs the token from plex.  There is no integration into plex its a read only project.  So you need the plex token not a generated token.

[2021-09-14 07:33] ZeroCoolGOS commented on #91
There is no "Authorized Device" required.

[2021-09-14 07:34] TATUMTOT commented on #91
I have tried it with Both Still have the same issues.

[2021-09-14 07:41] ZeroCoolGOS commented on #91
Hmm.

If the setup was followed based on the documentation then it should work fine.  So at this point I am stumped.  I have not had many issues when I setup a new system, but I have gone through the installs many times.  I will also look at trying to simulate the setup you have done as well to see if I can reproduce.

@MattsShack maybe you can jump in and try and help us find the root issue.

I w

[2021-09-14 07:45] TATUMTOT commented on #91
@ZeroCoolGOS @MattsShack

I understand I think the next steps could be a remote session.
Do you have a raspberry pi ?

It is late here so i will check back on this threat tomorrow

[2021-09-14 07:47] ZeroCoolGOS commented on #91
@TATUMTOT

Yes I have a Raspberry Pi.

Where are you based?  I am on the West Coast.

[2021-09-14 07:48] TATUMTOT commented on #91
@ZeroCoolGOS East Cost. So we can try this tomorrow if you have time? Just a little earlier for me LOL.

[2021-09-15 02:08] TATUMTOT commented on #91
@ZeroCoolGOS want to get on a remote session?

[2021-09-15 03:21] ZeroCoolGOS commented on #91
@TATUMTOT
We can try and do a quick remote session to see if we can get you sorted.

[2021-09-15 04:09] TATUMTOT commented on #91
@ZeroCoolGOS ok let's do it

[2021-09-15 04:19] ZeroCoolGOS commented on #91
@TATUMTOT
How do we want to do a remote session?

[2021-09-15 04:22] TATUMTOT commented on #91
@ZeroCoolGOS
Michael Tatum is inviting you to a scheduled Zoom meeting.

Topic: Tatum's Personal Meeting Room

Join Zoom Meeting
https://us02web.zoom.us/j/5793781780?pwd=NlZ4akNzN1lXQ3hQSWk5UWkwQnF2UT09

Meeting ID: 579 378 1780
Passcode: 123
One tap mobile
+19292056099,,5793781780# US (New York)
+13017158592,,5793781780# US (Washington DC)

Dial by your location
        +1 929 205 6099 US (New Yo

[2021-09-15 06:40] ZeroCoolGOS commented on #91
Root Cause was around secure SSL not connecting to PLEX when plex is set to use Secure connection only.

Zoom Call Notes - RAW (will come back and refine the findings):
Setting Plex as secure only does not connect (Network/Secure Connections: Required)
Expand field length for IP and Secure IP by 5
Add a field for PORT when not using secure
If in secure "https://" purge.

Fix documentation for True

[2021-09-15 06:57] TATUMTOT commented on #91
@ZeroCoolGOS Token request.

https://forums.plex.tv/t/how-to-request-a-x-plex-token-token-for-your-app/84551

[2021-09-15 07:44] TATUMTOT opened #96 "Quick fix = Remove invalid footer under plex configuration page"
We need to remove

PLEX, PLEX PASS, myPLEX, PLEX MEDIA SERVER, PLEX MEDIA CENTER, PLEX MEDIA MANAGER, PLEX HOME THEATER, PLEX TV, PLEX.TV, the Plex Play Logo (">" in stylized format) are trademarks that are the exclusive property of Plex,

This should match all the other pages.

[2021-09-15 16:22] ZeroCoolGOS commented on #96
@TATUMTOT
This is on the Plex Server page?

If so then it was a decision that was made to place this footer as part of some requirements for PLEX especially as part of there usage of name.  This is also why we don't specify PLEX anywhere else within the settings.  Keeping it isolated.

If we where to add more media services then we would follow the same way.

[2021-09-16 05:17] TATUMTOT commented on #96
Ok I can see that as a Legal Out. We should still fix (">" in stylized format)

[2021-09-16 05:23] TATUMTOT opened #97 "Enhancement: Clear Cache for Fonts, Custom Images, Logs. Confirmation."
I think we should add a Confirmation Dialog box for clearing Custom Images and Fonts., If that was hit on accident that could really mess up someone’s setup.

[2021-09-16 05:50] ZeroCoolGOS commented on #96
That is part of there copywriter string, so it would also need to remain.

[2021-09-16 05:50] ZeroCoolGOS commented on #97
Sounds like a good idea.

[2021-09-16 13:19] TATUMTOT commented on #96
Ok

[2021-09-16 13:19] #96 closed

[2021-09-17 02:09] MattsShack commented on #95
I agree. From now on Git will the the 'source of truth'. I will update the website to direct users here once I review the documentation.

[2021-09-20 00:28] ZeroCoolGOS opened #98 "Register Movie Poster Display as Authorized Device"
Add the ability to have project as a registered device.

This will allow for not needing to use the public token but to use a dedicated token for security purposes.   This will also allow for support of a public plex server and to be able to deOuth an application if required.

Most work would be around scripting during installation vs any frontend development, and documentation.

Resources:
https:

[2021-09-20 00:34] ZeroCoolGOS opened #99 "BUG: SSL Connection not working as expected"
When strictly using SSL Connection and when Plex's "Secure connections" is set to "Required" the project is not able to connect properly and retrieve the poster data.

[2021-09-20 00:39] ZeroCoolGOS opened #100 "Plex Configuration page enhancements"
Based on feedback a few adjustments to the Plex Configuration page would be good to have.

1. Extend the Plex Server IP field by 5 char.
2. Extend the Plex Server Direct address field by 5 char.
3. Add port number field (6 char.)
4. If a user puts "https://" in the Plex Server Direct address field then purge that as part of write to config.

[2021-09-20 00:41] ZeroCoolGOS opened #101 "Show/Hide Advanced Option"
Add a cookie system to allow the cached state of the Show/Hide option so that it can remember when a users reloads a page or logs back in.

[2021-09-20 00:44] ZeroCoolGOS opened #102 "Post Warning if Refresh is below 10 sec."
Have a conformation window pop up if the refresh timer is set to 10 seconds or lower as it could cause Plex to crash and turns the poster display as a DDoS service.

[2021-09-20 00:46] ZeroCoolGOS opened #103 "Config Documentation Update Sept. 2021"
Update the configuration documentation to be more clear on how the True/False values are set, and to also specify 0/1 as well.

Testing:
Required testing of both scenarios "True/False" & "0/1"

[2021-09-20 00:49] ZeroCoolGOS opened #104 "TV Show Display Issues"
Misc. fixes around TV Shows and how they are displayed.

1. Validate how the metadata is pulling the TV Show information.
2. Add more documentation on how and what is going to be displayed for each option
3. Add link to the "TV Show" documentation page.

[2021-09-20 00:59] ZeroCoolGOS opened #105 "Test Suite and Framework"
Build a test suite to validate that features are working as expected.

1. Create a "Test" Plex docker container that can be used for testing different configuration types instead of using our personal Plex servers
2. Create checklist for different sets of functionality, like TV Shows, Music, Movies, Local Images, Fonts, ect.
3. Multiple platform tests.  Running on an Raspberry Pi, Windows, Linux,

[2021-09-20 01:00] titelies commented on #102
I have been using 5 second transition/refresh speed in Coming Soon config since the I started using PMPD, and it hasn't caused my Plex server to crash. I have the Now Showing refresh speed set to 15 seconds.

[2021-09-20 01:07] ZeroCoolGOS opened #106 "Diagnostics Updates Sept/Oct 2021"
Based on the issues that where found in #91 some diagnostics changes should be made to help speed up identifying the issues.

1. Create a dedicated diagnostic section in the configuration.
2. Move and integrate a Cache display page(s) into diag. section
3. Move and integrate the Logs List into the diag. section
4. Add health/ping page
5. Add single line logging of connection sting and status (back

[2021-09-20 01:11] ZeroCoolGOS commented on #102
@titelies
Thank you for the feedback.  We have seen it where that this has been a problem for some users.  We will not be restricting the time, we will just put up a disclaimer.

This could also depend on a few factors such as power of the Plex Server, Network, Client and so on.  The testing that we saw was 2 seconds caused a users Plex server to crash.  2 seconds is very aggressive, but I figured

[2021-09-20 01:21] ZeroCoolGOS commented on #91
@Jacksaur
This was your original issue that you reported and @1upmushroom was also having the same issue.

Based on the work I have done with @TATUMTOT we did find that there was an issue with how the "Plex Server Direct address" functionality is working, and issues around non-standard port setting.

So here are a few questions and trouble shooting steps.
- Are you using the Plex SSL connection wi

[2021-09-20 01:28] ZeroCoolGOS commented on #95
@MattsShack

Sounds good.  I have created a bunch of tickets that will so get fed back into the documentation.

Side request: I don't know what your relation to MangaValk and d8ahazard is, but would it be possible to get added to the list of contributors to this project?  Thank you.

[2021-09-20 18:24] TATUMTOT commented on #91
Only Do this for Testing!

I already had STunnel Configured for my magic mirror projects

I have I have confirmed that everything works with HTTP but not with HTTPS. Unsure why but for those who are also having this issues you can deploy Stunnel https://www.stunnel.org/.

Stunnel Config
[plex-MM-proxy]
client = yes
; IP address and the port you want to use for your PMDM. This is only to be used fo

[2021-09-20 20:12] Jacksaur commented on #91
Regretably I still haven't got my Pi back up and running yet. I'll be sure to do it as soon as I can tomorrow and report back on the results.

Not sure about the first question, but my Secure Connections is already set to Preferred, and my Port is the default value. (32400 I believe?)

[2021-09-21 00:14] MattsShack commented on #95
I see that :) I like it.
I think we should add d8ahazard to the contributors.

Thank you again,

[2021-09-21 00:22] ZeroCoolGOS commented on #95
d8ahazard is already a contributor.  I meant I was asking for me to be added like d8 and Mana lol.

[2021-09-24 11:15] Jacksaur commented on #91
Apologies for the delay, Evening shifts are a pain.
Reinstalled everything from scratch, and it's now all working perfectly! Didn't need to change any settings on my Server or the Pi itself.
Cheers.

[2021-12-18 18:13] titelies commented on #7
Can someone assist me with setting up HTTPS to work successfully for PMPD... I have Enable Plex SSL connection enabled in the PMPD Plex Configuration setting and I also have the IP-IP-IP-IP.MYCERTAINAINFO.plex.direct in the Plex Server Direct address. On the Plex Media Server network settings I have Secure connections set to: Preferred. However, when I change try to access the PMPD posters from th

[2021-12-19 16:38] titelies opened #107 "Assistance with SSL setup for use with HTTPS"
Can someone assist me with setting up HTTPS to work successfully for PMPD... I have Enable Plex SSL connection enabled in the PMPD Plex Configuration setting and I also have the IP-IP-IP-IP.MYCERTAINAINFO.plex.direct in the Plex Server Direct address. On the Plex Media Server network settings I have Secure connections set to: Preferred. However, when I change try to access the PMPD posters from th

[2021-12-19 18:16] ZeroCoolGOS commented on #107
I will try and look into this issue over the next week or so and see if we can fix up your issue.

Sorry that there has not been much activity recently. Hoping to be more active on this project soon.

[2022-03-11 13:20] #91 closed

[2022-06-01 03:11] AKASGaming opened #108 "Adjustments for Title Sizes"
I have auto-scale on and get these issues with longer titles
![image](https://user-images.githubusercontent.com/25405047/171320249-1ec14f39-6098-40aa-947a-b86ad75a8da5.png)

[2022-08-27 19:17] b0rnwr0ng opened #109 "When nothing is playing stays blank or still shows now playing"
I can't get it to show coming soon ever and once i start a movie it never toggles to coming soon

[2022-09-25 07:43] botyas opened #110 "Title logo in Now Showing"
Is there a way to add the movie logo image extracted from tmdb to the top bar instead of using text. This is how each movie would look with its font and colors.

greetings and thanks for this great work you do.

[2022-11-27 05:37] titelies opened #111 "Fonts Import Not Working with Bullseye Version"
Finally got around to upgrading from Buster to Bullseye. Started from scratch on a different SD Card, got everything installed and setup. Restored my previous Config file without issue. The one issue that doesn't seem to be working is importing the fonts from the fonts bundle that I generated or if I re-download the fonts and upload the Zip file from famfonts.com When I select the Zip file and cli

[2022-11-27 14:15] titelies commented on #111
Fixed by manually copying the font folders into the Cache/Fonts directory. All is well in the world with the latest Pi Bullseye and PHP 7.4.

[2022-11-27 14:15] #111 closed